﻿extend layout

block scripts
    //
      sparkline JS
      ============================================
    script(src='/javascripts/sparkline/jquery.sparkline.min.js')
    script(src='/javascripts/sparkline/sparkline-active.js')
    //
      chart JS
      ============================================
    script(src='/javascripts/chart/jquery.peity.min.js')
    script(src='/javascripts/chart/peity-active.js')

block content    
    // income order visit user Start
    .income-order-visit-user-area
      .container-fluid
        .row
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .income-dashone-total.reso-mg-b-30
              .income-dashone-pro
                .income-rate-total
                  .price-nalika-rate
                    h3
                      span $
                      span.counter 7500
                  .price-graph
                    span#sparkline1
                .income-range
                  p Total income
                  span.income-percentange.bg-green
                    span.counter 95
                    | % 
                    i.fa.fa-bolt
                .clear
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .income-dashone-total.reso-mg-b-30
              .income-dashone-pro
                .income-rate-total
                  .price-nalika-rate
                    h3
                      span.counter 6400
                  .price-graph
                    span#sparkline6
                .income-range.order-cl
                  p New Orders
                  span.income-percentange.bg-red
                    span.counter 65
                    | % 
                    i.fa.fa-level-up
                .clear
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .income-dashone-total.reso-mg-b-30.res-mg-t-30
              .income-dashone-pro
                .income-rate-total
                  .price-nalika-rate
                    h3
                      span.counter 4500
                  .price-graph
                    span#sparkline2
                .income-range.visitor-cl
                  p New Visitor
                  span.income-percentange.bg-blue
                    span.counter 75
                    | % 
                    i.fa.fa-level-up
                .clear
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .income-dashone-total.res-mg-t-30
              .income-dashone-pro
                .income-rate-total
                  .price-nalika-rate
                    h3
                      span.counter 235400
                  .price-graph
                    span#sparkline5
                .income-range.low-value-cl
                  p In first month
                  span.income-percentange.bg-purple
                    span.counter 35
                    | % 
                    i.fa.fa-level-down
                .clear
    // income order visit user End
    .dashtwo-order-area.mg-tb-30
      .container-fluid
        .row
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-nalika-wrap.ant-res-b-30.reso-mg-b-30
              .skill-content-3.analytics-nalika
                .skill
                  .progress
                    .lead-content
                      h3
                        span.counter 95
                        | %
                      p Server down 4:32 pm
                    .progress-bar.wow.fadeInLeft(data-progress='95%', style='width: 95%;', data-wow-duration='1.5s', data-wow-delay='1.2s')
                      span 95%
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-nalika-wrap.reso-mg-b-30
              .skill-content-3.analytics-nalika.analytics-nalika4
                .skill
                  .progress
                    .lead-content
                      h3 85%
                      p Server down 8:32 pm
                    .progress-bar.wow.fadeInLeft(data-progress='85%', style='width: 85%;', data-wow-duration='1.5s', data-wow-delay='1.2s')
                      span 85%
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-nalika-wrap.reso-mg-b-30.res-mg-t-30
              .skill-content-3.analytics-nalika.analytics-nalika3
                .skill
                  .progress.progress-bt
                    .lead-content
                      h3 80%
                      p Server down 10:32 pm
                    .progress-bar.wow.fadeInLeft(data-progress='80%', style='width: 80%;', data-wow-duration='1.5s', data-wow-delay='1.2s')
                      span 80%
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-nalika-wrap.res-mg-t-30
              .skill-content-3.analytics-nalika.analytics-nalika2
                .skill
                  .progress.progress-bt
                    .lead-content
                      h3 93%
                      p Server down 10:32 pm
                    .progress-bar.wow.fadeInLeft(data-progress='93%', style='width: 93%;', data-wow-duration='1.5s', data-wow-delay='1.2s')
                      span 93%
    .analytics-sparkle-area
      .container-fluid
        .row
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-sparkle-line.reso-mg-b-30
              .analytics-content
                h5 Visits in last 24h
                h2.counter 5600
                #sparkline22
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-sparkle-line.reso-mg-b-30
              .analytics-content
                h5 Visits week
                h2.counter 3400
                #sparkline23
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-sparkle-line.reso-mg-b-30.res-mg-t-30
              .analytics-content
                h5 Last month
                h2.counter 3300
                #sparkline24
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-sparkle-line.res-mg-t-30
              .analytics-content
                h5 Avarage time
                h2 00:06:40
                #sparkline25
    .analysis-rounded-area.mg-tb-30
      .container-fluid
        .row
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-rounded.reso-mg-b-30
              .analytics-rounded-content
                h5 Percentage distribution
                h2
                  span.counter 40
                  | /20
                .text-center
                  #sparkline51
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-rounded.reso-mg-b-30
              .analytics-rounded-content
                h5 Percentage division
                h2
                  span.counter 140
                  | /
                  span.counter 54
                .text-center
                  #sparkline52
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-rounded.reso-mg-b-30.res-mg-t-30
              .analytics-rounded-content
                h5 Percentage Counting
                h2 2345/311
                .text-center
                  #sparkline53
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analytics-rounded.res-mg-t-30
              .analytics-rounded-content
                h5 Percentage Sequence
                h2 780/56
                .text-center
                  #sparkline54
    .analysis-progrebar-area.mg-b-30
      .container-fluid
        .row
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analysis-progrebar.reso-mg-b-30
              .analysis-progrebar-content
                h5 Usage
                h2
                  span.counter 90
                  | %
                .progress.progress-mini
                  .progress-bar(style='width: 68%;')
                .m-t-sm.small
                  p Server down since 1:32 pm.
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analysis-progrebar.reso-mg-b-30
              .analysis-progrebar-content
                h5 Memory
                h2
                  span.counter 70
                  | %
                .progress.progress-mini
                  .progress-bar(style='width: 78%;')
                .m-t-sm.small
                  p Server down since 12:32 pm.
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analysis-progrebar.reso-mg-b-30.res-mg-t-30
              .analysis-progrebar-content
                h5 Data
                h2
                  span.counter 50
                  | %
                .progress.progress-mini
                  .progress-bar.progress-bar-danger(style='width: 38%;')
                .m-t-sm.small
                  p Server down since 8:32 pm.
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .analysis-progrebar.res-mg-t-30
              .analysis-progrebar-content
                h5 Space
                h2
                  span.counter 40
                  | %
                .progress.progress-mini
                  .progress-bar.progress-bar-danger(style='width: 28%;')
                .m-t-sm.small
                  p Server down since 5:32 pm.
