﻿extend layout

block content
    .product-status.mg-b-30
      .container-fluid
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .product-status-wrap
              h4 Delivery List
              table
                tbody
                  tr
                    th Products
                    th Status
                    th Purchases
                    th Buyer
                    th Destination
                  tr
                    td EAA GiRSAN MC1911C
                    td
                      button.ps-setting Moving...
                    td $485.62
                    td Lily
                    td 250 52nd Street
                    td
                      button.pd-setting-ed(data-toggle='tooltip', title='Cancel')
                        i.fa.fa-trash-o(aria-hidden='true')
                  tr
                    td SCCY CPX-1
                    td
                      button.pd-setting Done
                    td $239.62
                    td Lowlief
                    td Avenue X at Cicero
                    td
                      button.pd-setting-ed(data-toggle='tooltip', title='Cancel')
                        i.fa.fa-trash-o(aria-hidden='true')
                  tr
                    td Bersa Thunder 380
                    td
                      button.ds-setting Canceled
                    td $254.05
                    td Quang Trung
                    td Củ Chi, Tp Hồ Chí Minh
                    td
                      button.pd-setting-ed(data-toggle='tooltip', title='Cancel')
                        i.fa.fa-trash-o(aria-hidden='true')
                  tr
                    td Iver Johnson Eagle
                    td
                      button.ps-setting Moving...
                    td $617.76
                    td Nguyễn Huệ
                    td Củ Chi, Tp Hồ Chí Minh
                    td
                      button.pd-setting-ed(data-toggle='tooltip', title='Cancel')
                        i.fa.fa-trash-o(aria-hidden='true')
                  tr
                    td Chiappa Rhino 50DS
                    td
                      button.ps-setting Moving...
                    td $864.31
                    td T'Challa
                    td Wakanda
                    td
                      button.pd-setting-ed(data-toggle='tooltip', title='Cancel')
                        i.fa.fa-trash-o(aria-hidden='true')
                  tr
                    td Bond Arms BullPup9
                    td
                      button.pd-setting Done
                    td $885.45
                    td Bruce Wayne
                    td Gotham
                    td
                      button.pd-setting-ed(data-toggle='tooltip', title='Cancel')
                        i.fa.fa-trash-o(aria-hidden='true')
              .custom-pagination
                ul.pagination
                  li.page-item
                    a.page-link(href='#') Previous
                  li.page-item
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#') Next
