﻿extends layout

append stylesheets 
    //
      calendar CSS
      ============================================
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css')   

block scripts
    //
      calendar JS
      ============================================ 
    script(src='/javascripts/calendar/moment.min.js')
    script(src='/javascripts/calendar/fullcalendar.min.js')
    script(src='/javascripts/calendar/fullcalendar-active.js')

    //
      sparkline JS
      ============================================
    script(src='/javascripts/sparkline/jquery.sparkline.min.js')
    script(src='/javascripts/sparkline/jquery.charts-sparkline.js')
    //
      float JS
      ============================================
    script(src='/javascripts/flot/jquery.flot.js')
    script(src='/javascripts/flot/jquery.flot.resize.js')
    script(src='/javascripts/flot/curvedLines.js')
    script(src='/javascripts/flot/flot-active.js')

block content
    .section-admin.container-fluid
      .row.admin.text-center
        .col-md-12
          .row
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .admin-content.analysis-progrebar-ctn.res-mg-t-15
                h4.text-left.text-uppercase
                  b Orders
                .row.vertical-center-box.vertical-center-box-tablet
                  .col-xs-3.mar-bot-15.text-left
                    label.label.bg-green
                      | 30% 
                      i.fa.fa-level-up(aria-hidden='true')
                  .col-xs-9.cus-gh-hd-pro
                    h2.text-right.no-margin 10,000
                .progress.progress-mini
                  .progress-bar.bg-green(style='width: 78%;')
            .col-lg-3.col-md-3.col-sm-3.col-xs-12(style='margin-bottom:1px;')
              .admin-content.analysis-progrebar-ctn.res-mg-t-30
                h4.text-left.text-uppercase
                  b Tax Deduction
                .row.vertical-center-box.vertical-center-box-tablet
                  .text-left.col-xs-3.mar-bot-15
                    label.label.bg-red
                      | 15% 
                      i.fa.fa-level-down(aria-hidden='true')
                  .col-xs-9.cus-gh-hd-pro
                    h2.text-right.no-margin 5,000
                .progress.progress-mini
                  .progress-bar.progress-bar-danger.bg-red(style='width: 38%;')
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .admin-content.analysis-progrebar-ctn.res-mg-t-30
                h4.text-left.text-uppercase
                  b Revenue
                .row.vertical-center-box.vertical-center-box-tablet
                  .text-left.col-xs-3.mar-bot-15
                    label.label.bg-blue
                      | 50% 
                      i.fa.fa-level-up(aria-hidden='true')
                  .col-xs-9.cus-gh-hd-pro
                    h2.text-right.no-margin $70,000
                .progress.progress-mini
                  .progress-bar.bg-blue(style='width: 60%;')
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .admin-content.analysis-progrebar-ctn.res-mg-t-30
                h4.text-left.text-uppercase
                  b Yearly Sales
                .row.vertical-center-box.vertical-center-box-tablet
                  .text-left.col-xs-3.mar-bot-15
                    label.label.bg-purple
                      | 80% 
                      i.fa.fa-level-up(aria-hidden='true')
                  .col-xs-9.cus-gh-hd-pro
                    h2.text-right.no-margin $100,000
                .progress.progress-mini
                  .progress-bar.bg-purple(style='width: 60%;')
    .product-sales-area.mg-tb-30
      .container-fluid
        .row
          .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .product-sales-chart
              .portlet-title
                .row
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .caption.pro-sl-hd
                      span.caption-subject.text-uppercase
                        b Product Sales
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .actions.graph-rp
                      .btn-group(data-toggle='buttons')
                        label.btn.btn-grey.active
                          input#option1.toggle(type='radio', name='options', checked='')
                          | Today
                        label.btn.btn-grey
                          input#option2.toggle(type='radio', name='options')
                          | Week
              #sparklinehome.sparkline-container Loading..
          .col-lg-3.col-md-3.col-sm-3.col-xs-12
            .white-box.analytics-info-cs.mg-b-30.res-mg-t-30
              h3.box-title Total Visit
              ul.list-inline.two-part-sp
                li
                  #sparklinedash
                li.text-right.sp-cn-r
                  i.fa.fa-level-up(aria-hidden='true')
                  span.counter.sales-sts-ctn 8659
            .white-box.analytics-info-cs.mg-b-30
              h3.box-title Total Page Views
              ul.list-inline.two-part-sp
                li
                  #sparklinedash2
                li.text-right
                  i.fa.fa-level-up(aria-hidden='true')
                  span.counter.sales-sts-ctn 7469
            .white-box.analytics-info-cs.mg-b-30
              h3.box-title Unique Visitor
              ul.list-inline.two-part-sp
                li
                  #sparklinedash3
                li.text-right
                  i.fa.fa-level-up(aria-hidden='true')
                  span.counter.sales-sts-ctn 6011
            .white-box.analytics-info-cs
              h3.box-title Bounce Rate
              ul.list-inline.two-part-sp
                li
                  #sparklinedash4
                li.text-right
                  i.fa.fa-level-down(aria-hidden='true')
                  span.sales-sts-ctn 18%
    .traffic-analysis-area
      .container-fluid
        .row
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .white-box.tranffic-als-inner
              h3.box-title
                small.pull-right.m-t-10.last-month-sc.cl-one
                  i.fa.fa-sort-asc
                  |  18% last month
                |  Site Traffic
              .stats-row
                .stat-item
                  h6 Overall Growth
                  b 80.40%
                .stat-item
                  h6 Montly
                  b 15.40%
                .stat-item
                  h6 Day
                  b 5.50%
              #sparkline8
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .white-box.tranffic-als-inner.res-mg-t-30
              h3.box-title
                small.pull-right.m-t-10.last-month-sc.cl-two
                  i.fa.fa-sort-desc
                  |  18% last month
                | Site Traffic
              .stats-row
                .stat-item
                  h6 Overall Growth
                  b 80.40%
                .stat-item
                  h6 Montly
                  b 15.40%
                .stat-item
                  h6 Day
                  b 5.50%
              #sparkline9
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .white-box.tranffic-als-inner.res-mg-t-30
              h3.box-title
                small.pull-right.m-t-10.last-month-sc.cl-three
                  i.fa.fa-sort-asc
                  |  18% last month
                | Site Traffic
              .stats-row
                .stat-item
                  h6 Overall Growth
                  b 80.40%
                .stat-item
                  h6 Montly
                  b 15.40%
                .stat-item
                  h6 Day
                  b 5.50%
              #sparkline10
    .product-new-list-area
      .container-fluid
        .row
          each gun in listOfGuns
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .single-new-trend.mg-t-30
                a(href='#')
                  img(src=gun.image, alt='')
                .overlay-content
                  a(href='#')
                    h2 $#{gun.price}
                  a.btn-small(href='#') Hot
                  a(href='#')
                    h4 #{gun.name}

    .product-sales-area.mg-tb-30
      .container-fluid
        .row
          .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .product-sales-chart
              .portlet-title
                .row
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .caption.pro-sl-hd
                      span.caption-subject.text-uppercase
                        b Order Statistic
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .actions.graph-rp
                      a.btn.btn-dark-blue.btn-circle.active.tip-top(href='#', data-toggle='tooltip', title='Upload')
                        i.fa.fa-cloud-download(aria-hidden='true')
                      a.btn.btn-dark.btn-circle.active.tip-top(href='#', data-toggle='tooltip', title='Refresh')
                        i.fa.fa-reply(aria-hidden='true')
                      a.btn.btn-blue-grey.btn-circle.active.tip-top(href='#', data-toggle='tooltip', title='Delete')
                        i.fa.fa-trash-o(aria-hidden='true')
              #line-chart.flot-chart.flot-chart-sts.line-chart-statistic
          .col-lg-3.col-md-3.col-sm-3.col-xs-12
            .analytics-rounded.mg-b-30.res-mg-t-30
              .analytics-rounded-content
                h5 Percentage distribution
                h2
                  span.counter 60
                  | /20
                .text-center
                  #sparkline51
            .analytics-rounded
              .analytics-rounded-content
                h5 Percentage division
                h2
                  span.counter 150
                  | /
                  span.counter 54
                .text-center
                  #sparkline52
    .author-area-pro
      .container-fluid
        .row
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .personal-info-wrap
              .author-wiget-inner
                .persoanl-widget-hd
                  h2 Thanh Lam
                  p Believer
                img.img-circle.circle-border.m-b-md(src='/images/1612324_Avatar.jpg', alt='profile')
              .widget-text-box
                p
                  | I can't make you believe in God, you have to have faith.
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .author-widgets-single.res-mg-t-30
              .author-wiget-inner
                .perso-img
                  img.img-circle.circle-border.m-b-md(src='/images/1612315_Avatar.jpg', alt='profile')
                .persoanl-widget-hd.persoanl1-widget-hd
                  h2 Kianto
                  p Founder of KatRich
              .widget-text-box
                p
                  | I am merely the God and this website is my trivial heaven.
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .personal-info-wrap.personal-info-ano.res-mg-t-30
              .author-wiget-inner
                .persoanl-widget-hd
                  h2 Trung Kien
                  p Believer
                img.img-circle.circle-border.m-b-md(src='/images/1612313_Avatar.jpg', alt='profile')
              .widget-text-box
                p
                  | I can't make you believe in God, you have to have faith.

    .calender-area.mg-tb-30
      .container-fluid
        .row
          .col-lg-12
            .calender-inner
              #calendar