﻿doctype html
html.no-js(lang='en')
  head
    title= title

    meta(charset='utf-8')
    //
      Google Fonts
      ============================================
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900', rel='stylesheet')
    //
      Bootstrap CSS
      ============================================
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //
      nalika Icon CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/nalika-icon.css')
    //
      owl.carousel CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
    link(rel='stylesheet', href='/stylesheets/owl.theme.css')
    link(rel='stylesheet', href='/stylesheets/owl.transitions.css')
    //
      animate CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/animate.css')
    //
      normalize CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    //
      meanmenu icon CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/meanmenu.min.css')
    //
      main CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/main.css')
    //
      morrisjs CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/morrisjs/morris.css')
    //
      mCustomScrollbar CSS
      ============================================
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css')
    //
      metisMenu CSS
      ============================================
    link(rel='stylesheet', href='https://unpkg.com/metismenu/dist/metisMenu.min.css')
    link(rel='stylesheet', href='/stylesheets/metisMenu/metisMenu-vertical.css')
    //
      style CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/style.css')
    //
      responsive CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    //
      modernizr JS
      ============================================
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

    block stylesheets

  body
    .left-sidebar-pro
      nav#sidebar
        .sidebar-header
          a(href='/dashboard/')
            h3 KatRich Shoppy
          strong KR
        .nalika-profile
          .profile-dtl
            a(href='#')
              img(src=loggedUser.image, alt='')
            h2 #{loggedUser.name}
            //
              | Kianto 
              span.min-dtn deGod
        .left-custom-menu-adp-wrap.comment-scrolbar
          nav.sidebar-nav.left-sidebar-menu-pro
            ul#menu1.metismenu
              li.active
                a.has-arrow(href='/')
                  i.icon.nalika-home.icon-wrap
                  span.mini-click-non Main Pain
                ul.submenu-angle(aria-expanded='true')
                  li
                    a(href='/dashboard/')
                      span.mini-sub-pro Dashboard
                  li
                    a(href='https://katrich.herokuapp.com/catalog')
                      span.mini-sub-pro Sale Page Home
                  li
                    a(href='/product/')
                      span.mini-sub-pro Product List
                  li
                    a(href='/dashboard/delivery')
                      span.mini-sub-pro Delivery
                  li
                    a(href='/user')
                      span.mini-sub-pro User List
                  li
                    a(href='/dashboard/analytics')
                      span.mini-sub-pro Analytics
              li#removable
                a.has-arrow(href='#', aria-expanded='false')
                  i.icon.nalika-new-file.icon-wrap
                  span.mini-click-non Account
                ul.submenu-angle(aria-expanded='false')
                  li
                    a(href='/user/userProfile')
                      span.mini-sub-pro My Profile
                  li
                    a(href='#')
                      span.mini-sub-pro Password Recovery
                  li
                    a(href='/auth/logout')
                      span.mini-sub-pro Log Out
    // Start Welcome area
    .all-content-wrapper
      .container-fluid
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .logo-pro
              a(href='/dashboard/')
                h3 KatRich Shoppy
      .header-advance-area
        .header-top-area
          .container-fluid
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .header-top-wraper
                  .row
                    .col-lg-1.col-md-0.col-sm-1.col-xs-12
                      .menu-switcher-pro
                        button#sidebarCollapse.btn.bar-button-pro.header-drl-controller-btn.btn-info.navbar-btn(type='button')
                          i.icon.nalika-menu-task
                    .col-lg-6.col-md-7.col-sm-6.col-xs-12
                      .header-top-menu.tabl-d-n.hd-search-rp
                        .breadcome-heading
                          form(role='search')
                            input.form-control(type='text', placeholder='Search...')
                            a(href='')
                              i.fa.fa-search
                    .col-lg-5.col-md-5.col-sm-12.col-xs-12
                      .header-right-info
                        ul.nav.navbar-nav.mai-top-nav.header-right-menu
                          li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                              i.icon.nalika-mail(aria-hidden='true')
                              span.indicator-ms
                            .author-message-top.dropdown-menu.animated.zoomIn(role='menu')
                              .message-single-top
                                h1 Message
                              ul.message-menu
                                li
                                  a(href='#')
                                    .message-img
                                      img(src='/images/1612315_Avatar.jpg', alt='')
                                    .message-content
                                      span.message-date 1 Apr
                                      h2 Kianto
                                      p Please done this project as soon possible.
                                li
                                  a(href='#')
                                    .message-img
                                      img(src='/images/1612313_Avatar.jpg', alt='')
                                    .message-content
                                      span.message-date 30 Apr
                                      h2 Kien
                                      p Please done this project as soon possible.
                                li
                                  a(href='#')
                                    .message-img
                                      img(src='/images/1612324_Avatar.jpg', alt='')
                                    .message-content
                                      span.message-date 1 May
                                      h2 Lam
                                      p Please done this project as soon possible.
                                li
                                  a(href='#')
                                    .message-img
                                      img(src='/images/1612315_Avatar.jpg', alt='')
                                    .message-content
                                      span.message-date 2 Sep
                                      h2 Dasdang
                                      p Please done this project as soon possible.
                              .message-view
                                a(href='#') View All Messages
                          li.nav-item
                            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                              i.icon.nalika-alarm(aria-hidden='true')
                              span.indicator-nt
                            .notification-author.dropdown-menu.animated.zoomIn(role='menu')
                              .notification-single-top
                                h1 Notifications
                              ul.notification-menu
                                li
                                  a(href='#')
                                    .notification-icon
                                      i.icon.nalika-tick(aria-hidden='true')
                                    .notification-content
                                      span.notification-date 1 Apr
                                      h2 Kianto
                                      p Please done this project as soon possible.
                                li
                                  a(href='#')
                                    .notification-icon
                                      i.icon.nalika-cloud(aria-hidden='true')
                                    .notification-content
                                      span.notification-date 30 Apr
                                      h2 Lam
                                      p Please done this project as soon possible.
                                li
                                  a(href='#')
                                    .notification-icon
                                      i.icon.nalika-folder(aria-hidden='true')
                                    .notification-content
                                      span.notification-date 1 May
                                      h2 Kien
                                      p Please done this project as soon possible.
                                li
                                  a(href='#')
                                    .notification-icon
                                      i.icon.nalika-bar-chart(aria-hidden='true')
                                    .notification-content
                                      span.notification-date 2 Sep
                                      h2 Dasdang
                                      p Please done this project as soon possible.
                              .notification-view
                                a(href='#') View All Notification
                          li.nav-item
                            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                              i.icon.nalika-user
                              span.admin-name #{loggedUser.name}
                              i.icon.nalika-down-arrow.nalika-angle-dw
                            ul.dropdown-header-top.author-log.dropdown-menu.animated.zoomIn(role='menu')
                              li
                                a(href='/user/userProfile')
                                  span.icon.nalika-user.author-log-ic
                                  |  My Profile
                              li
                                a(href='#')
                                  span.icon.nalika-settings.author-log-ic
                                  |  Settings
                              li
                                a(href='/auth/logout')
                                  span.icon.nalika-unlocked.author-log-ic
                                  |  Log Out

        // Mobile Menu start
        .mobile-menu-area
          .container
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .mobile-menu
                  nav#dropdown
                    ul.mobile-menu-nav
                      li
                        a(data-toggle='collapse', data-target='#Charts', href='#')
                          | Main Pain 
                          span.admin-project-icon.nalika-icon.nalika-down-arrow
                        ul.collapse.dropdown-header-top
                          li
                            a(href='/dashboard/') Dashboard
                          li
                            a(href='https://katrich.herokuapp.com/catalog') Sale Page Home
                          li
                            a(href='/product') Product List
                          li
                            a(href='/dashboard/delivery') Delivery
                          li
                            a(href='/user') User List
                          li
                            a(href='/dashboard/analytics') Analytics
                      li
                        a(data-toggle='collapse', data-target='#Pagemob', href='#')
                          | Account
                          span.admin-project-icon.nalika-icon.nalika-down-arrow
                        ul#Pagemob.collapse.dropdown-header-top
                          li
                            a(href='/user/userProfile') My Profile
                          li
                            a(href='#') Password Recovery
                          li
                            a(href='/auth/logout') Log Out
        // Mobile Menu end

        .breadcome-area
          .container-fluid
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .breadcome-list
                  .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                      .breadcomb-wp
                        .breadcomb-icon
                          i.icon.nalika-home
                        .breadcomb-ctn
                          h2 #{title}
                          p
                            | Welcome to KatRich 
                            span.bread-ntd Admin Cage
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                      .breadcomb-report
                        button.btn(data-toggle='tooltip', data-placement='left', title='Download Report')
                          i.icon.nalika-download


      // ****************** //
      block content
      // ****************** //


      .footer-copyright-area
        .container-fluid
          .row
            .col-lg-12
              .footer-copy-right
                p
                  | Copyright © 2018 
                  a(href='https://colorlib.com/wp/templates/') Colorlib
                  |  All rights reserved.
    //
      jquery
      ============================================
    script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    //
      bootstrap JS
      ============================================
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    //
      wow JS
      ============================================
    script(src='/javascripts/wow.min.js')
    //
      price-slider JS
      ============================================
    script(src='/javascripts/jquery-price-slider.js')
    //
      meanmenu JS
      ============================================
    script(src='/javascripts/jquery.meanmenu.js')
    //
      owl.carousel JS
      ============================================
    script(src='/javascripts/owl.carousel.min.js')
    //
      sticky JS
      ============================================
    script(src='/javascripts/jquery.sticky.js')
    //
      scrollUp JS
      ============================================
    script(src='/javascripts/jquery.scrollUp.min.js')
    //
      mCustomScrollbar JS
      ============================================
    script(src='/javascripts/scrollbar/jquery.mCustomScrollbar.concat.min.js')
    script(src='/javascripts/scrollbar/mCustomScrollbar-active.js')
    //
      metisMenu JS
      ============================================
    script(src='/javascripts/metisMenu/metisMenu.min.js')
    script(src='/javascripts/metisMenu/metisMenu-active.js')
    
    //
      white hole JS
      ============================================
    block scripts

    //
      plugins JS
      ============================================
    script(src='/javascripts/plugins.js')
    //
      main JS
      ============================================
    script(src='/javascripts/main.js')

    
