﻿doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title= title
    //
      Google Fonts
      ============================================
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900', rel='stylesheet')
    //
      Bootstrap CSS
      ============================================
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //
      forms CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/form/all-type-forms.css')
    //
      style CSS
      ============================================
    link(rel='stylesheet', href='/stylesheets/style.css')
    //
      auth CSS
      ============================================
    style.
      .custom-title {
        color: white;
      }
      .custom-title h3 {
        text-transform: uppercase;
      }
      .content {
        display: none;
        overflow: hidden;
      }


  body
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    .color-line
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .back-link.back-backend
            a.btn.btn-primary(href='/dashboard/') Back to Dashboard (Demo only)
    .container-fluid
      .row
        .col-lg-3.col-md-3.col-sm-3.col-xs-12
        .col-md-6.col-md-6.col-sm-6.col-xs-12
          .text-center.m-b-md.custom-title
            h3 #{title}
            p This is the best website ever!

          .hpanel
            .panel-body
              form#loginForm(action='/auth/authenticate' method='post')
                .form-group
                  label.control-label(for='email') Email
                  input#username.form-control(type='text', placeholder='example@gmail.com', title='Please enter your email', required='', value='', name='email')
                  span.help-block.small Your unique registered email
                .form-group
                  label.control-label(for='password') Password
                  input#password.form-control(type='password', title='Please enter your password', placeholder='******', required='', value='', name='password')
                  span.help-block.small Your supper strong password
                .checkbox.login-checkbox
                  label
                //  
                  input.i-checks(type='checkbox')
                  |  Remember me
                  p.help-block.small (if this is a private computer)
                button.btn.btn-success.btn-block.loginbtn Login
              button.btn.btn-default.btn-block.collapsible Forget your passport? Click here.
                
              .hpanel.content  
                .panel-body.poss-recover
                  p
                    | Enter your email address to send recovery code.
                  form#loginForm(action='#')
                    .form-group
                      label.control-label(for='username') Email
                      input#username.form-control(type='text', placeholder='example@gmail.com', title='Please enter you email adress', required='', value='', name='username')
                      span.help-block.small Your registered email address
                    button.btn.btn-success.btn-block Reset password

        .col-lg-4.col-md-4.col-sm-4.col-xs-12
      .row
        p
        .col-md-12.col-md-12.col-sm-12.col-xs-12.text-center
          p
            | Copyright © 2018 
            | Colorlib
            |  All rights reserved.
    //
      bootstrap JS
      ============================================
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    
    script.
      var coll = document.getElementsByClassName("collapsible");
      var i;
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }




