﻿extend layout

block content
    .product-status.mg-b-30
      .container-fluid
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .product-status-wrap
              h4 Products List
              .add-product
                a(href='/product/productAdd') Add Product
              table
                tbody
                  tr
                    th Image
                    th Name
                    th Category
                    th Status
                    th Price
                    th Imported
                    th Description
                    th Setting
                  each gun in listOfGuns
                    tr
                      td
                        img(src=gun.image, alt='')
                      td #{gun.name}
                      td #{gun.category}
                      td In stock
                      td #{gun.price}
                      td #{gun.imported_yyyy_mm_dd}
                      td #{gun.description}
                      td
                        button.pd-setting-ed(data-toggle='tooltip', title='Detail')
                          a(href=gun.gunDetail)
                            i.fa.fa.fa-eye(aria-hidden='true')
                        button.pd-setting-ed(data-toggle='tooltip', title='Edit')
                          a(href=gun.gunEdit)
                            i.fa.fa-pencil-square-o(aria-hidden='true')
                        button.pd-setting-ed(data-toggle='tooltip', title='Trash')
                          a(href=gun.gunDelete)
                            i.fa.fa-trash-o(aria-hidden='true')
                
              .custom-pagination
                ul.pagination
                  li.page-item
                    a.page-link(href='#') Previous
                  li.page-item
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#') Next
