﻿extend layout

block scripts
    //
      tab JS
      ============================================
    script(src='/javascripts/tab.js')

block content    
    // Single pro tab start
    .single-product-tab-area.mg-t-0.mg-b-30
      .container-fluid
        .row
          .col-lg-12
            .single-product-pr
              .row
                .col-lg-5.col-md-5.col-sm-5.col-xs-12
                  #myTabContent1.tab-content
                    #single-tab1.product-tab-list.tab-pane.fade.active.in
                      img(src=gun.image, alt='')
                    #single-tab2.product-tab-list.tab-pane.fade
                      img(src=gun.image, alt='')
                    #single-tab3.product-tab-list.tab-pane.fade
                      img(src=gun.image, alt='')
                    #single-tab4.product-tab-list.tab-pane.fade
                      img(src=gun.image, alt='')
                    #single-tab5.product-tab-list.tab-pane.fade
                      img(src=gun.image, alt='')
                  ul#single-product-tab
                    li.active
                      a(href='#single-tab1')
                        img(src=gun.image, alt='')
                    li
                      a(href='#single-tab2')
                        img(src=gun.image, alt='')
                    li
                      a(href='#single-tab3')
                        img(src=gun.image, alt='')
                    li
                      a(href='#single-tab4')
                        img(src=gun.image, alt='')
                .col-lg-7.col-md-7.col-sm-7.col-xs-12
                  .single-product-details.res-pro-tb
                    h1 #{gun.name}
                    span.single-pro-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    .single-pro-price
                      span.single-regular $#{gun.price.toFixed(2)}
                      span.single-old
                        del $#{(gun.price + gun.price*10/100).toFixed(2)}
                      .clear
                      .single-social-area
                        h3 share this on
                        a(href='#')
                          i.fa.fa-facebook
                        a(href='#')
                          i.fa.fa-google-plus
                        a(href='#')
                          i.fa.fa-feed
                        a(href='#')
                          i.fa.fa-twitter
                        a(href='#')
                          i.fa.fa-linkedin
                    .single-pro-cn
                      h3(style='display:inline') CATEGORY: 
                      p(style='display:inline') #{gun.category}
                    p
                    .single-pro-cn
                      h3(style='display:inline') IMPORTED: 
                      p(style='display:inline') #{gun.imported_yyyy_mm_dd}
                    p
                    .single-pro-cn
                      h3 OVERVIEW:
                      p #{gun.description}
                    .text-center.custom-pro-edt-ds
                      button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(type='button')
                        a(href=gun.gunEdit)
                          | Edit
                      button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(type='button')
                        a(href='/product')
                          | Back
    // Single pro tab End
    // Single pro tab review Start
    .single-pro-review-area.mt-t-30.mg-b-30
      .container-fluid
        .row
          .col-lg-12
            .single-tb-pr
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  ul#myTab.tab-review-design
                    li.active
                      a(href='#description') description
                    li
                      a(href='#reviews')
                        span
                          i.fa.fa-star
                          i.fa.fa-star
                        |  reviews
                        span
                          i.fa.fa-star
                          i.fa.fa-star
                    li
                      a(href='#information') information
                  #myTabContent.tab-content
                    #description.product-tab-list.product-details-ect.tab-pane.fade.active.in
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .review-content-section
                            p #{gun.description}
                    #reviews.product-tab-list.tab-pane.fade
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .review-content-section
                            .review-content-section
                              .card-block
                                .text-muted.f-w-400
                                  p No reviews yet.
                                .m-t-10
                                  .txt-primary.f-18.f-w-600
                                    p Your Rating
                                  .stars.stars-example-css.detail-stars
                                    .review-rating
                                      fieldset.rating
                                        input#star5(type='radio', name='rating', value='5')
                                        label.full(for='star5')
                                        input#star4half(type='radio', name='rating', value='4 and a half')
                                        label.half(for='star4half')
                                        input#star4(type='radio', name='rating', value='4')
                                        label.full(for='star4')
                                        input#star3half(type='radio', name='rating', value='3 and a half')
                                        label.half(for='star3half')
                                        input#star3(type='radio', name='rating', value='3')
                                        label.full(for='star3')
                                        input#star2half(type='radio', name='rating', value='2 and a half')
                                        label.half(for='star2half')
                                        input#star2(type='radio', name='rating', value='2')
                                        label.full(for='star2')
                                        input#star1half(type='radio', name='rating', value='1 and a half')
                                        label.half(for='star1half')
                                        input#star1(type='radio', name='rating', value='1')
                                        label.full(for='star1')
                                        input#starhalf(type='radio', name='rating', value='half')
                                        label.half(for='starhalf')
                                    .clear
                                .input-group.mg-b-15.mg-t-15
                                  span.input-group-addon
                                    i.fa.fa-pencil(aria-hidden='true')
                                  textarea.form-control(name='Message' required='')
                                .form-group.review-pro-edt.mg-b-0-pr
                                  button.btn.btn-primary.waves-effect.waves-light(type='submit')
                                    | Submit
                    #information.product-tab-list.tab-pane.fade
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .review-content-section
                            p
                              | This can kill humans. And it is a good stuff.
                              | Humans are a potential threat and also the biggest challenge for all living creatures.
                              | So it can be said, the responsibility of each individual is to eradicate that affliction with all possible methods.
                              | And so the gun was built for that.
                            p.pro-b-0
                              | Sometimes the best way to save the world from destruction is to eliminate the main cause of chaos, it is human.
                              | In many ways, guns are one of the simplest and less annoying methods, while helping people face death more gently and quickly.
                            p.pro-b-0 
                              | Guns are not only weapons, guns are humanitarian.
