﻿extend layout

block scripts
    script.
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function(e) {
              $('#review-img').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
          }
        }
        $('#img-upload').change(function() {
          readURL(this);
        });

    //
      tab JS
      ============================================
    script(src='/javascripts/tab.js')

block content
    // Single pro tab start
    .single-product-tab-area.mg-b-30
      // Single pro tab review Start
      .single-pro-review-area
        .container-fluid
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .review-tab-pro-inner
                ul#myTab3.tab-review-design
                  li.active
                    a(href='#description')
                      i.icon.nalika-edit(aria-hidden='true')
                      |  #{title}
                  li
                    a(href='#reviews')
                      i.icon.nalika-zip(aria-hidden='true')
                      |  Category
                  if(gun._id)
                    li
                      a(href='#information')
                        i.icon.nalika-chat(aria-hidden='true')
                        |  Review

                #myTabContent.tab-content.custom-product-edit
                  #description.product-tab-list.tab-pane.fade.active.in
                    form(action='/product/productEditSubmit' method='post' id='myform' enctype='multipart/form-data')
                      .row
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-eye
                          input.form-control(name='_id' type='text' placeholder='ID' value=(undefined===gun ? '' : gun._id) readonly)

                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-favorites
                          input.form-control(name='name' type='text' placeholder='Name' value=(undefined===gun ? '' : gun.name) required='')

                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-new-file
                          select.form-control.pro-edt-select.form-control-primary(name='category')
                            each cate in categories
                              if (cate.name === gun.category) 
                                option(value=cate.name selected) #{cate.name}
                              else
                                option(value=cate.name) #{cate.name}
                              
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-price-tag
                          input.form-control(name='price' type='text' placeholder='Price' value=(undefined===gun ? '' : gun.price))

                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-edit
                          if (gun)
                            textarea.form-control(name='description' placeholder='Description')
                              | #{gun.description}
                          else
                            textarea.form-control(name='description' placeholder='Description')
                          
                        .col-sm-4
                          .pro-edt-img
                            img#review-img(src=gun.image, alt='')
                        .col-sm-8
                          .row
                            .col-lg-12
                              .product-edt-pix-wrap
                                .input-group
                                  span.input-group-addon
                                    i.icon.nalika-picture
                                  if(gun._id)
                                    input#img-upload.form-control(name='image' type='file', placeholder='Image Link' value=(undefined===gun ? '' : gun.image))
                                  else
                                    input#img-upload.form-control(name='image' type='file', placeholder='Image Link' value=(undefined===gun ? '' : gun.image) required='')
                                
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .text-center.custom-pro-edt-ds
                            button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(form='myform' type='submit')
                              a
                                | Save
                            button.btn.btn-ctl-bt.waves-effect.waves-light(type='button')
                              a(href='/product')
                                | Cancel
                  #reviews.product-tab-list.tab-pane.fade
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                       .product-status-wrap
                          table
                            tbody
                              tr
                                th Your Category
                                th Setting
                              each cate in categories
                               tr
                                td #{cate.name}
                                td
                                 button.pd-setting-ed(data-toggle='tooltip', title='Trash')
                                  a(href=cate.cateDelete)
                                    i.fa.fa-trash-o(aria-hidden='true')

                      form(action='/product/categoryAddSubmit' method='post')
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-favorites
                          input.form-control(name='name' type='text' placeholder='Add new category here' required='')
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .text-center.custom-pro-edt-ds
                            button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(type='submit')
                              a
                                | Submit
                  #information.product-tab-list.tab-pane.fade
                    .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .review-content-section
                          .card-block
                            form
                              .input-group.mg-b-pro-edt
                                span.input-group-addon
                                  i.icon.nalika-eye
                                input.form-control(name='_id' type='text' placeholder='ID' value=(undefined===gun ? '' : gun._id) readonly)
                              .m-t-10
                                .txt-primary.f-18.f-w-600
                                  p Your Rating
                                .stars.stars-example-css.detail-stars
                                  .review-rating
                                    fieldset.rating
                                      input#star5(type='radio', name='rating', value='5')
                                      label.full(for='star5')
                                      input#star4half(type='radio', name='rating', value='4 and a half')
                                      label.half(for='star4half')
                                      input#star4(type='radio', name='rating', value='4')
                                      label.full(for='star4')
                                      input#star3half(type='radio', name='rating', value='3 and a half')
                                      label.half(for='star3half')
                                      input#star3(type='radio', name='rating', value='3')
                                      label.full(for='star3')
                                      input#star2half(type='radio', name='rating', value='2 and a half')
                                      label.half(for='star2half')
                                      input#star2(type='radio', name='rating', value='2')
                                      label.full(for='star2')
                                      input#star1half(type='radio', name='rating', value='1 and a half')
                                      label.half(for='star1half')
                                      input#star1(type='radio', name='rating', value='1')
                                      label.full(for='star1')
                                      input#starhalf(type='radio', name='rating', value='half')
                                      label.half(for='starhalf')
                                  .clear
                              .input-group.mg-b-15.mg-t-15
                                span.input-group-addon
                                  i.fa.fa-pencil(aria-hidden='true')
                                textarea.form-control(name='Message' required='')
                              .form-group.review-pro-edt.mg-b-0-pt
                                button.btn.btn-ctl-bt.waves-effect.waves-light(type='submit')
                                  | Submit
