﻿extend layout

block scripts
    script.
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function(e) {
              $('#review-img').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
          }
        }
        $('#img-upload').change(function() {
          readURL(this);
        });

    //
      tab JS
      ============================================
    script(src='/javascripts/tab.js')

block content
    // Single pro tab start
    .single-product-tab-area.mg-b-30
      // Single pro tab review Start
      .single-pro-review-area
        .container-fluid
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .review-tab-pro-inner
                ul#myTab3.tab-review-design
                  li.active
                    a(href='#description')
                      i.icon.nalika-edit
                      |  #{title}

                #myTabContent.tab-content.custom-product-edit
                  #description.product-tab-list.tab-pane.fade.active.in
                    form(action='/user/userEditSubmit' method='post' id='myform' enctype='multipart/form-data')
                      .row
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-eye
                          input.form-control(name='_id' type='text' placeholder='ID' value=(undefined===user ? '' : user._id) readonly)

                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.fa.fa-envelope
                          input.form-control(name='email' type='text' placeholder='Email' value=(undefined===user ? '' : user.email) required='')
                           
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.fa.fa-user
                          input.form-control(name='name' type='text' placeholder='Name' value=(undefined===user ? '' : user.name) required='')

                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.fa.fa-key
                          if (!user._id)
                            input.form-control(name='password' type='text' placeholder='Password' value=(undefined===user ? '' : user.realPassword) required='')
                          else
                            input.form-control(name='password' type='text' placeholder='Password' value=(undefined===user ? '' : user.realPassword) readonly)
                          
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.fa.fa-legal
                          select.form-control.pro-edt-select.form-control-primary(name='role')
                            if (user.role==='Admin')
                              option(value='Customer') Customer
                              option(value='Admin' selected) Admin
                            else
                              option(value='Customer' selected) Customer
                              option(value='Admin') Admin
                           
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.fa.fa-paperclip
                          input.form-control(name='note' type='text' placeholder='Note' value=(undefined===user ? '' : user.note))
                       
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.fa.fa-venus-mars
                          select.form-control.pro-edt-select.form-control-primary(name='gender')
                            if (user.gender==='Female')
                              option(value='Male') Male
                              option(value='Female' selected) Female
                            else
                              option(value='Male' selected) Male
                              option(value='Female') Female

                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.fa.fa-phone
                          input.form-control(name='phone' type='text' placeholder='Phone' value=(undefined===user ? '' : user.phone))
                           
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.fa.fa-address-book-o
                          input.form-control(name='address' type='text' placeholder='Address' value=(undefined===user ? '' : user.address))
                        
                        .col-sm-4
                          .pro-edt-img
                            img#review-img(src=user.image, alt='')
                        .col-sm-8
                          .row
                            .col-lg-12
                              .product-edt-pix-wrap
                                .input-group.mg-b-pro-edt
                                  span.input-group-addon
                                    i.icon.nalika-picture
                                  input#img-upload.form-control(name='image' type='file')
                                  
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .text-center.custom-pro-edt-ds
                            button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(form='myform' type='submit')
                              a
                                | Save
                            button.btn.btn-ctl-bt.waves-effect.waves-light(type='button')
                              a(href='/user')
                                | Cancel
                