﻿extend layout

block content
    .product-status.mg-b-30
      .container-fluid
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .product-status-wrap
              h4 User List
              .add-product
                a(href='/user/userAdd') Add User
              table
                tbody
                  tr
                    th Image
                    th Name
                    th Password
                    th Role
                    th Gender
                    th Email
                    th Phone
                    th Address
                    th Setting
                  each user in listOfUsers
                    tr
                      td
                        img(src=user.image, alt='')
                      td #{user.name}
                      td #{user.password}
                      td #{user.role}
                      td #{user.gender}
                      td #{user.email}
                      td #{user.phone}
                      td #{user.address}
                      td
                        button.pd-setting-ed(data-toggle='tooltip', title='Detail')
                          a(href=user.userDetail)
                            i.fa.fa.fa-eye(aria-hidden='true')
                        button.pd-setting-ed(data-toggle='tooltip', title='Edit')
                          a(href=user.userEdit)
                            i.fa.fa-pencil-square-o(aria-hidden='true')
                        button.pd-setting-ed(data-toggle='tooltip', title='Trash')
                          a(href=user.userDelete)
                            i.fa.fa-trash-o(aria-hidden='true')
              .custom-pagination
                ul.pagination
                  li.page-item
                    a.page-link(href='#') Previous
                  li.page-item
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') Next
