﻿extend layout

block scripts
    //
      tab JS
      ============================================
    script(src='/javascripts/tab.js')

block content    
    // Single pro tab start
    .single-product-tab-area.mg-t-0.mg-b-30
      .container-fluid
        .row
          .col-lg-12
            .single-product-pr
              .row
                .col-lg-3.col-md-3.col-sm-3.col-xs-12
                  #myTabContent1.tab-content
                    #single-tab1.product-tab-list.tab-pane.fade.active.in
                      img(src=user.image, alt='')
                .col-lg-9.col-md-9.col-sm-9.col-xs-12
                  .single-product-details.res-pro-tb
                    h1 #{user.role}
                    
                    .single-pro-price
                      span.single-regular #{user.name}

                    .row
                      .col-xs-2
                        .single-pro-cn
                          p GENDER: 
                          p EMAIL: 
                          p PHONE: 
                          p ADDRESS:
                      .col-xs-10
                        .single-pro-cn
                          p #{user.gender}
                          p #{user.email}
                          p #{user.phone}
                          p #{user.address}
                    
                    .text-center.custom-pro-edt-ds
                      button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(type='button')
                        a(href=user.userEdit)
                          | Edit
                      button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(type='button')
                        a(href='/user')
                          | Back
    // Single pro tab End
    // Single pro tab review Start
    .single-pro-review-area.mt-t-30.mg-b-30
      .container-fluid
        .row
          .col-lg-12
            .single-tb-pr
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  ul#myTab.tab-review-design
                    li.active
                      a(href='#description') Note
                    li
                      a(href='#information') 
                        span
                          i.fa.fa-star
                          i.fa.fa-star
                        | Account

                  #myTabContent.tab-content
                    #description.product-tab-list.product-details-ect.tab-pane.fade.active.in
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .review-content-section
                            p #{user.note}

                    #information.product-tab-list.tab-pane.fade
                      .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .review-content-section
                            p _ID: #{user._id}
                            p PW: #{user.password}
