﻿extends layout

block content
    // /banner_bottom_agile_info
    .page-head_agile_info_w3l
      .container
        h3
          | About 
          span Us 
        // /w3_short
        .services-breadcrumb
          .agile_inner_breadcrumb
            ul.w3_short
              li
                a(href='/') Home
                i |
              li About
        // //w3_short
    // /banner_bottom_agile_info
    .banner_bottom_agile_info
      .container
        .agile_ab_w3ls_info
          .col-md-6.ab_pic_w3ls
            img.img-responsive(src='/images/ab_pic.jpg' alt=' ')
          .col-md-6.ab_pic_w3ls_text_info
            h5
              | About Our KatRich 
              span  Shoppy
            p
              | We all know that the only way to calm the world is to silence the living. Peace without violence is a mess. Violence without peace is a chaos.
            p
              | We sell guns to empower the weak. But at the same time, let weak people find themselves unable to buy power.
            p
              | Guns are not weapons to hunt animals nor weapons to make any revolution. That gun is a tool to build a more beautiful natural world. Because it can kill people.
            p
              | A nightmare for some, for others a savior I come, my hands cold and bleak, its the warm hearts they seek.
          .clearfix
        .banner_bottom_agile_info_inner_w3ls
          .col-md-6.wthree_banner_bottom_grid_three_left1.grid
            figure.effect-roxy
              img.img-responsive(src='/images/bottom1.jpg' alt=' ')
              figcaption
                h3
                  span F
                  | all Ahead
                p New Arrivals
          .col-md-6.wthree_banner_bottom_grid_three_left1.grid
            figure.effect-roxy
              img.img-responsive(src='/images/bottom2.jpg' alt=' ')
              figcaption
                h3
                  span F
                  | all Ahead
                p New Arrivals
          .clearfix
    // team
    .banner_bottom_agile_info.team
      .container
        h3.wthree_text_info
          | Our Team 
          span Members
        .inner_w3l_agile_grids
          .col-md-4.team-grids
            .thumbnail.team-w3agile
              img.img-responsive(src='/images/1612313_Avatar.jpg' alt='')
              .social-icons.team-icons.right-w3l.fotw33
                .caption
                  h4 Phan Trung Kien
                  p He is a Believer
                ul.social-nav.model-3d-0.footer-social.w3_agile_social.two
                  li
                    a.facebook(href='#')
                      .front
                        i.fa.fa-facebook(aria-hidden='true')
                      .back
                        i.fa.fa-facebook(aria-hidden='true')
                  li
                    a.twitter(href='#')
                      .front
                        i.fa.fa-twitter(aria-hidden='true')
                      .back
                        i.fa.fa-twitter(aria-hidden='true')
                  li
                    a.instagram(href='#')
                      .front
                        i.fa.fa-instagram(aria-hidden='true')
                      .back
                        i.fa.fa-instagram(aria-hidden='true')
                  li
                    a.pinterest(href='#')
                      .front
                        i.fa.fa-linkedin(aria-hidden='true')
                      .back
                        i.fa.fa-linkedin(aria-hidden='true')
          .col-md-4.team-grids
            .thumbnail.team-w3agile
              img.img-responsive(src='/images/1612315_Avatar.jpg' alt='')
              .social-icons.team-icons.right-w3l.fotw33
                .caption
                  h4 Kianto
                  p He is the God
                ul.social-nav.model-3d-0.footer-social.w3_agile_social.two
                  li
                    a.facebook(href='#')
                      .front
                        i.fa.fa-facebook(aria-hidden='true')
                      .back
                        i.fa.fa-facebook(aria-hidden='true')
                  li
                    a.twitter(href='#')
                      .front
                        i.fa.fa-twitter(aria-hidden='true')
                      .back
                        i.fa.fa-twitter(aria-hidden='true')
                  li
                    a.instagram(href='#')
                      .front
                        i.fa.fa-instagram(aria-hidden='true')
                      .back
                        i.fa.fa-instagram(aria-hidden='true')
                  li
                    a.pinterest(href='#')
                      .front
                        i.fa.fa-linkedin(aria-hidden='true')
                      .back
                        i.fa.fa-linkedin(aria-hidden='true')
          .col-md-4.team-grids
            .thumbnail.team-w3agile
              img.img-responsive(src='/images/1612324_Avatar.jpg' alt='')
              .social-icons.team-icons.right-w3l.fotw33
                .caption
                  h4 Nguyen Thanh Lam
                  p He is a Believer
                ul.social-nav.model-3d-0.footer-social.w3_agile_social.two
                  li
                    a.facebook(href='#')
                      .front
                        i.fa.fa-facebook(aria-hidden='true')
                      .back
                        i.fa.fa-facebook(aria-hidden='true')
                  li
                    a.twitter(href='#')
                      .front
                        i.fa.fa-twitter(aria-hidden='true')
                      .back
                        i.fa.fa-twitter(aria-hidden='true')
                  li
                    a.instagram(href='#')
                      .front
                        i.fa.fa-instagram(aria-hidden='true')
                      .back
                        i.fa.fa-instagram(aria-hidden='true')
                  li
                    a.pinterest(href='#')
                      .front
                        i.fa.fa-linkedin(aria-hidden='true')
                      .back
                        i.fa.fa-linkedin(aria-hidden='true')
          .clearfix  
    // //team
    // schedule-bottom
    .schedule-bottom
      .col-md-6.agileinfo_schedule_bottom_left
        img.img-responsive(src='/images/mid.jpg' alt=' ')
      .col-md-6.agileits_schedule_bottom_right
        .w3ls_schedule_bottom_right_grid
          h3
            | Save up to 
            span 50%
            |  in this week
          p
            | Suspendisse varius turpis efficitur erat laoreet dapibus.
            | Mauris sollicitudin scelerisque commodo.Nunc dapibus mauris sed metus finibus posuere.
          .col-md-4.w3l_schedule_bottom_right_grid1
            i.fa.fa-user-o(aria-hidden='true')
            h4 Customers
            h5.counter 653
          .col-md-4.w3l_schedule_bottom_right_grid1
            i.fa.fa-calendar-o(aria-hidden='true')
            h4 Events
            h5.counter 823
          .col-md-4.w3l_schedule_bottom_right_grid1
            i.fa.fa-shield(aria-hidden='true')
            h4 Awards
            h5.counter 45
          .clearfix  
      .clearfix  
    // //schedule-bottom
    // banner-bootom-w3-agileits
    .banner-bootom-w3-agileits
      .container
        h3.wthree_text_info
          | What&apos;s 
          span Trending
        .col-md-5.bb-grids.bb-left-agileits-w3layouts
          a(href='/pistols')
            .bb-left-agileits-w3layouts-inner.grid
              figure.effect-roxy
                img.img-responsive(src='/images/bb1.jpg' alt=' ')
                figcaption
                  h3
                    span S
                    | ale
                  p Upto 55%
        .col-md-7.bb-grids.bb-middle-agileits-w3layouts
          .bb-middle-agileits-w3layouts.grid
            figure.effect-roxy
              img.img-responsive(src='/images/bottom3.jpg' alt=' ')
              figcaption
                h3
                  span S
                  | ale
                p Upto 55%
          .bb-middle-agileits-w3layouts.forth.grid
            figure.effect-roxy
              img.img-responsive(src='/images/bottom4.jpg' alt=' ')
              figcaption
                h3
                  span S
                  | ale
                p Upto 65%
          .clearfix
    // /grids
    .agile_last_double_sectionw3ls
      .col-md-6.multi-gd-img.multi-gd-text
        a(href='/shop/pistols')
          img(src='/images/bot_1.jpg' alt=' ')
          h4
            | Flat 
            span 50%
            |  offer
      .col-md-6.multi-gd-img.multi-gd-text
        a(href='/shop/rifles')
          img(src='/images/bot_2.jpg' alt=' ')
          h4
            | Flat 
            span 50%
            |  offer
      .clearfix
    // /grids
    // /we-offer
    .sale-w3ls
      .container
        h6
          | We Offer Flat 
          span 40%
          |  Discount
        a.hvr-outline-out.button2(href='/') Shop Now 
    // //we-offer
