extends layout

append stylesheets
    //-  <!-- Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900', rel='stylesheet'>
    <link rel='stylesheet', href='/stylesheets/plugins/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/ps-icon/style.css'>
    //- <!-- CSS Library-->
    <link rel='stylesheet', href='/stylesheets/plugins/owl-carousel/assets/owl.carousel.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/slick/slick/slick.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/Magnific-Popup/dist/magnific-popup.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/jquery-ui/jquery-ui.min.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/revolution/css/settings.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/revolution/css/layers.css'>
    <link rel='stylesheet' href='/stylesheets/plugins/revolution/css/navigation.css'>
    //- <!-- Custom-->
    <link rel='stylesheet', href='/stylesheets/cart.css'>


append scripts
    // add js here
    <script type='text/javascript', src='/stylesheets/plugins/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/jquery-bar-rating/dist/jquery.barrating.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/owl-carousel/owl.carousel.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/gmap3.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/imagesloaded.pkgd.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/isotope.pkgd.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/jquery.matchHeight-min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/slick/slick/slick.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/elevatezoom/jquery.elevatezoom.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/jquery-ui/jquery-ui.min.js'></script>
    <script type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB'></script><script type='text/javascript' src='plugins/revolution/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.video.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.actions.min.js'></script>
    //- <!-- Custom scripts-->
    <script type='text/javascript', src='/javascripts/cart.js'></script> 
    script.
      function editText() {
      $("#gender").attr("readonly", false);
      }

block content
  .header-services
    .ps-services.owl-slider(data-owl-auto='true' data-owl-loop='true' data-owl-speed='7000' data-owl-gap='0' data-owl-nav='true' data-owl-dots='false' data-owl-item='1' data-owl-item-xs='1' data-owl-item-sm='1' data-owl-item-md='1' data-owl-item-lg='1' data-owl-duration='1000' data-owl-mousedrag='on')
      p.ps-service
        i.ps-icon-delivery
        strong Free delivery
        | : Get free standard delivery on every order with Katrich shop
      p.ps-service
        i.ps-icon-delivery
        strong Free delivery
        | : Get free standard delivery on every order with Katrich shop
      p.ps-service
        i.ps-icon-delivery
        strong Free delivery
        | : Get free standard delivery on every order with Katrich shop
  main.ps-main
    .ps-content.pt-80.pb-80
      .ps-container
        .ps-cart-listing
          table.table.ps-cart__table
            thead
              tr
                th All Products
                th Price
                th Quantity
                th Total
                th
            tbody
              tr
                td
                  a.ps-product__preview(href='/cart')
                    img.mr-15.img-res(src='/images/guns/Bond_Arms_BullPup9.jpg' alt='')
                    |  Bond Arms BullPup9
                td $885.45
                td
                  .form-group--number
                    button.minus
                      span -
                    input.form-control(type='text' value='1')
                    button.plus
                      span +
                td $885.45
                td
                  .ps-remove
              tr
                td
                  a.ps-product__preview(href='/cart')
                    img.mr-15.img-res(src='/images/guns/GLOCK_43.jpg' alt='')
                    |  GLOCK 43
                td $449.00
                td
                  .form-group--number
                    button.minus
                      span -
                    input.form-control(type='text' value='1')
                    button.plus
                      span +
                td $449.00
                td
                  .ps-remove
              tr
                td
                  a.ps-product__preview(href='/cart')
                    img.mr-15.img-res(src='/images/guns/CZ_Scorpion_EVO_3_S1.jpg' alt='')
                    | CZ Scorpion EVO 3 S1
                td $1059.99
                td
                  .form-group--number
                    button.minus
                      span -
                    input.form-control(type='text' value='2')
                    button.plus
                      span +
                td $2119.99
                td
                  .ps-remove
          .ps-cart__actions
            .ps-cart__promotion
              .form-group
                .ps-form--icon
                  i.fa.fa-angle-right
                  input.form-control(type='text' placeholder='Promo Code')
              .form-group
                form(action = '/')
                  button.ps-btn.ps-btn--gray(href='/') Continue Shopping
            .ps-cart__total
              h3
                | Total Price: 
                span  2599.00 $
              a.ps-btn(href='/cart/checkout')
                | Process to checkout
                i.ps-icon-next





    