extends layout

append stylesheets
    //-  <!-- Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900', rel='stylesheet'>
    <link rel='stylesheet', href='/stylesheets/plugins/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/ps-icon/style.css'>
    //- <!-- CSS Library-->
    <link rel='stylesheet', href='/stylesheets/plugins/owl-carousel/assets/owl.carousel.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/slick/slick/slick.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/Magnific-Popup/dist/magnific-popup.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/jquery-ui/jquery-ui.min.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/revolution/css/settings.css'>
    <link rel='stylesheet', href='/stylesheets/plugins/revolution/css/layers.css'>
    <link rel='stylesheet' href='/stylesheets/plugins/revolution/css/navigation.css'>
    //- <!-- Custom-->
    <link rel='stylesheet', href='/stylesheets/cart.css'>

append scripts
    // add js here
    <script type='text/javascript', src='/stylesheets/plugins/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/jquery-bar-rating/dist/jquery.barrating.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/owl-carousel/owl.carousel.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/gmap3.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/imagesloaded.pkgd.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/isotope.pkgd.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/jquery.matchHeight-min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/slick/slick/slick.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/elevatezoom/jquery.elevatezoom.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/jquery-ui/jquery-ui.min.js'></script>
    <script type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB'></script><script type='text/javascript' src='plugins/revolution/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.video.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js'></script>
    <script type='text/javascript', src='/stylesheets/plugins/revolution/js/extensions/revolution.extension.actions.min.js'></script>
    //- <!-- Custom scripts-->
    <script type='text/javascript', src='/javascripts/cart.js'></script> 

block content
  .header-services
    .ps-services.owl-slider(data-owl-auto='true' data-owl-loop='true' data-owl-speed='7000' data-owl-gap='0' data-owl-nav='true' data-owl-dots='false' data-owl-item='1' data-owl-item-xs='1' data-owl-item-sm='1' data-owl-item-md='1' data-owl-item-lg='1' data-owl-duration='1000' data-owl-mousedrag='on')
      p.ps-service
        i.ps-icon-delivery
        strong Free delivery
        | : Get free standard delivery on every order with Katrich shop
      p.ps-service
        i.ps-icon-delivery
        strong Free delivery
        | : Get free standard delivery on every order with Katrich shop
      p.ps-service
        i.ps-icon-delivery
        strong Free delivery
        | : Get free standard delivery on every order with Katrich shop
  main.ps-main
    .ps-checkout.pt-80.pb-80
      .ps-container
        form.ps-checkout__form(action='do_action', method='post')
          .row
            .col-lg-8.col-md-8.col-sm-12.col-xs-12
              .ps-checkout__billing
                h3 Billing Detail
                .form-group.form-group--inline
                  label
                    | First Name
                    span *
                  input.form-control(type='text')
                .form-group.form-group--inline
                  label
                    | Last Name
                    span *
                  input.form-control(type='text')
                .form-group.form-group--inline
                  label
                    | Company Name
                    span *
                  input.form-control(type='text')
                .form-group.form-group--inline
                  label
                    | Email Address
                    span *
                  input.form-control(type='email')
                .form-group.form-group--inline
                  label
                    | Company Name
                    span *
                  input.form-control(type='text')
                .form-group.form-group--inline
                  label
                    | Phone
                    span *
                  input.form-control(type='text')
                .form-group.form-group--inline
                  label
                    | Address
                    span *
                  input.form-control(type='text')
                .form-group
                  .ps-checkbox
                    input#cb01.form-control(type='checkbox')
                    label(for='cb01') Create an account?
                h3.mt-40  Addition information
                .form-group.form-group--inline.textarea
                  label Order Notes
                  textarea.form-control(rows='5', placeholder='Notes about your order, e.g. special notes for delivery.')
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              .ps-checkout__order
                header
                  h3 Your Order
                .content
                  table.table.ps-checkout__products
                    thead
                      tr
                        th.text-uppercase Product
                        th.text-uppercase Total
                    tbody
                      tr
                        td Bond Arms BullPup9
                        td $885.45
                      tr
                        td GLOCK 43
                        td $449.00
                      tr
                        td CZ Scorpion EVO 3 S1
                        td $1059.99
                      tr
                        td CZ Scorpion EVO 3 S1
                        td $1059.99
                      tr
                        td Total
                        td $3454.43
                footer
                  h3 Payment Method
                  .form-group.cheque
                    .ps-radio
                      input#rdo01.form-control(type='radio', name='payment', checked='')
                      label(for='rdo01') Cheque Payment
                      p
                        | Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                  .form-group.paypal
                    .ps-radio.ps-radio--inline
                      input#rdo02.form-control(type='radio', name='payment')
                      label(for='rdo02') Paypal
                    ul.ps-payment-method
                      li
                        a(href='#')
                          img(src='images/payment/1.png', alt='')
                      li
                        a(href='#')
                          img(src='images/payment/2.png', alt='')
                      li
                        a(href='#')
                          img(src='images/payment/3.png', alt='')
                    button.ps-btn.ps-btn--fullwidth
                      | Place Order
                      i.ps-icon-next
              .ps-shipping
                h3 FREE SHIPPING
                p
                  | YOUR ORDER QUALIFIES FOR FREE SHIPPING.
                  br
                  a(href='#')  Singup 
                  |  for free shipping on every order, every time.

  



    