﻿extends layout

block content
    // /banner_bottom_agile_info
    .page-head_agile_info_w3l
      .container
        h3
          | C
          span ontact Us 
        // /w3_short
        .services-breadcrumb
          .agile_inner_breadcrumb
            ul.w3_short
              li
                a(href='/') Home
                i |
              li Contact
        // //w3_short
    // /contact
    .banner_bottom_agile_info
      .container
        .contact-grid-agile-w3s
          .col-md-4.contact-grid-agile-w3
            .contact-grid-agile-w31
              i.fa.fa-map-marker(aria-hidden='true')
              h4 Address
              p
                | University of Science, Nguyen Van Cu
                span District 5, HCMC, VN.
          .col-md-4.contact-grid-agile-w3
            .contact-grid-agile-w32
              i.fa.fa-phone(aria-hidden='true')
              h4 Call Us
              p
                | +84 666 666 666
                span +84 999 999 999
          .col-md-4.contact-grid-agile-w3
            .contact-grid-agile-w33
              i.fa.fa-envelope-o(aria-hidden='true')
              h4 Email
              p
                a(href='mailto:lychinhky@gmail.com') nomantrulydies@dead.line
                span
                  a(href='mailto:lychinhky@gmail.com') nomantrulylives@dead.line
          .clearfix  
    .contact-w3-agile1.map(data-aos='flip-right')
      iframe.map(src='https://maps.google.com/maps?q=hcm%20university%20of%20science&t=&z=13&ie=UTF8&iwloc=&output=embed' style='border:0' allowfullscreen='')
    .banner_bottom_agile_info
      .container
        .agile-contact-grids
          .agile-contact-left
            .col-md-6.address-grid
              h4
                | For More 
                span Information
              .mail-agileits-w3layouts
                i.fa.fa-volume-control-phone(aria-hidden='true')
                .contact-right
                  p Telephone 
                  span +84-666-666-666
                .clearfix  
              .mail-agileits-w3layouts
                i.fa.fa-envelope-o(aria-hidden='true')
                .contact-right
                  p Mail 
                  a(href='mailto:lychinhky@gmail.com') nomantrulydies@dead.line
                .clearfix  
              .mail-agileits-w3layouts
                i.fa.fa-map-marker(aria-hidden='true')
                .contact-right
                  p Location
                  span University of Science, Nguyen Van Cu, Dt 5, HCMC.
                .clearfix  
              ul.social-nav.model-3d-0.footer-social.w3_agile_social.two.contact
                li.share SHARE ON : 
                li
                  a.facebook(href='#')
                    .front
                      i.fa.fa-facebook(aria-hidden='true')
                    .back
                      i.fa.fa-facebook(aria-hidden='true')
                li
                  a.twitter(href='#')
                    .front
                      i.fa.fa-twitter(aria-hidden='true')
                    .back
                      i.fa.fa-twitter(aria-hidden='true')
                li
                  a.instagram(href='#')
                    .front
                      i.fa.fa-instagram(aria-hidden='true')
                    .back
                      i.fa.fa-instagram(aria-hidden='true')
                li
                  a.pinterest(href='#')
                    .front
                      i.fa.fa-linkedin(aria-hidden='true')
                    .back
                      i.fa.fa-linkedin(aria-hidden='true')
            .col-md-6.contact-form
              h4.white-w3ls
                | Contact 
                span Form
              form(action='#' method='post')
                .styled-input.agile-styled-input-top
                  input(type='text' name='Name' required='')
                  label Name
                  span
                .styled-input
                  input(type='email' name='Email' required='')
                  label Email
                  span
                .styled-input
                  input(type='text' name='Subject' required='')
                  label Subject
                  span
                .styled-input
                  textarea(name='Message' required='')
                  label Message
                  span
                input(type='submit' value='SEND')
          .clearfix  
    // //contact
