﻿extends layout

append stylesheets
    link(href='/stylesheets/easy-responsive-tabs.css', rel='stylesheet', type='text/css')

append scripts
    // <!-- Responsive tabs -->
    script(src='/javascripts/easy-responsive-tabs.js')
    script.
      $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
          type: 'default',          
          width: 'auto',
          fit: true,
          closed: 'accordion',
          activate: function(event) {
            var $tab = $(this);
            var $info = $('#tabInfo');
            var $name = $('span', $info);
            $name.text($tab.text());
            $info.show();
          }
        });
        $('#verticalTab').easyResponsiveTabs({
          type: 'vertical',
          width: 'auto',
          fit: true
        });
      });

block content
    // banner
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel' data-slide-to='0')
        li(data-target='#myCarousel' data-slide-to='1')
        li(data-target='#myCarousel' data-slide-to='2')
        li(data-target='#myCarousel' data-slide-to='3')
        li(data-target='#myCarousel' data-slide-to='4')
      .carousel-inner(role='listbox')
        .item.active
          .container
            .carousel-caption
              h3
                | The Biggest 
                span Sale
              p Special for today
              a.hvr-outline-out.button2(href='/shop/rifles') Shop Now 
        .item.item2
          .container
            .carousel-caption
              h3
                | Summer 
                span Collection
              p New Arrivals On Sale
              a.hvr-outline-out.button2(href='/shop/rifles') Shop Now 
        .item.item3
          .container
            .carousel-caption
              h3
                | The Biggest 
                span Sale
              p Special for today
              a.hvr-outline-out.button2(href='/shop/rifles') Shop Now 
        .item.item4
          .container
            .carousel-caption
              h3
                | Summer 
                span Collection
              p New Arrivals On Sale
              a.hvr-outline-out.button2(href='/shop/rifles') Shop Now 
        .item.item5
          .container
            .carousel-caption
              h3
                | The Biggest 
                span Sale
              p Special for today
              a.hvr-outline-out.button2(href='/shop/rifles') Shop Now 
      a.left.carousel-control(href='#myCarousel' role='button' data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel' role='button' data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
      // The Modal
    // //banner
    .banner_bottom_agile_info
      .container
        .banner_bottom_agile_info_inner_w3ls
          .col-md-6.wthree_banner_bottom_grid_three_left1.grid
            figure.effect-roxy
              img.img-responsive(src='/images/bottom1.jpg' alt=' ')
              figcaption
                h3
                  span F
                  | all Ahead
                p New Arrivals
          .col-md-6.wthree_banner_bottom_grid_three_left1.grid
            figure.effect-roxy
              img.img-responsive(src='/images/bottom2.jpg' alt=' ')
              figcaption
                h3
                  span F
                  | all Ahead
                p New Arrivals
          .clearfix
    // schedule-bottom
    .schedule-bottom
      .col-md-6.agileinfo_schedule_bottom_left
        img.img-responsive(src='/images/mid.jpg' alt=' ')
      .col-md-6.agileits_schedule_bottom_right
        .w3ls_schedule_bottom_right_grid
          h3
            | Save up to 
            span 50%
            |  in this week
          p
            | With 20 years of sustainable development through technological periods, 
            | our store has always been the world's leading supplier of weapons that every country wants to visit once, 
            | especially the government
          .col-md-4.w3l_schedule_bottom_right_grid1
            i.fa.fa-user-o(aria-hidden='true')
            h4 Customers
            h5.counter 653
          .col-md-4.w3l_schedule_bottom_right_grid1
            i.fa.fa-calendar-o(aria-hidden='true')
            h4 Events
            h5.counter 823
          .col-md-4.w3l_schedule_bottom_right_grid1
            i.fa.fa-shield(aria-hidden='true')
            h4 Awards
            h5.counter 45
          .clearfix  
      .clearfix  
    // //schedule-bottom
    // banner-bootom-w3-agileits
    .banner-bootom-w3-agileits
      .container
        h3.wthree_text_info
          | What&apos;s 
          span Trending
        .col-md-5.bb-grids.bb-left-agileits-w3layouts
          a(href='/shop/pistols')
            .bb-left-agileits-w3layouts-inner.grid
              figure.effect-roxy
                img.img-responsive(src='/images/bb1.jpg' alt=' ')
                figcaption
                  h3
                    span S
                    | ale
                  p Upto 20%
        .col-md-7.bb-grids.bb-middle-agileits-w3layouts
          a(href='/shop/rifles')
            .bb-middle-agileits-w3layouts.grid
              figure.effect-roxy
                img.img-responsive(src='/images/bottom3.jpg' alt=' ')
                figcaption
                  h3
                    span S
                    | ale
                  p Upto 25%
          a(href='/shop/rifles')
            .bb-middle-agileits-w3layouts.forth.grid
              figure.effect-roxy
                img.img-responsive(src='/images/bottom4.jpg' alt=' ')
                figcaption
                  h3
                    span S
                    | ale
                  p Upto 35%
          .clearfix
    // /grids
    .agile_last_double_sectionw3ls
      .col-md-6.multi-gd-img.multi-gd-text
        a(href='/shop/pistols')
          img(src='/images/bot_1.jpg' alt=' ')
          h4
            | Flat 
            span 20%
            |  offer
      .col-md-6.multi-gd-img.multi-gd-text
        a(href='/shop/rifles')
          img(src='/images/bot_2.jpg' alt=' ')
          h4
            | Flat 
            span 20%
            |  offer
      .clearfix
    // /grids
    // /new_arrivals
    .new_arrivals_agile_w3ls_info
      .container
        h3.wthree_text_info
          | New 
          span Arrivals
        #horizontalTab
          ul.resp-tabs-list
            li  Rifles
            li  Pistols
          .resp-tabs-container
            // /tab_one
            .tab1
              each gun in listOfRifles
                .col-md-3.product-men
                  .men-pro-item.simpleCart_shelfItem
                    .men-thumb-item
                      img.pro-image-front(src=gun.image alt='')
                      img.pro-image-back(src=gun.image alt='')
                      .men-cart-pro
                        .inner-men-cart-pro
                          a.link-product-add-cart(href=gun.url) Quick View
                      span.product-new-top New
                    .item-info-product
                      h4
                        a(href=gun.url) #{gun.name}
                      .info-product-price
                        span.item_price $#{gun.price.toFixed(2)}
                        del $#{(gun.price + gun.price*10/100).toFixed(2)}
                      .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
                        form(action='#' method='post')
                          fieldset
                            input(type='hidden' name='cmd' value='_cart')
                            input(type='hidden' name='add' value='1')
                            input(type='hidden' name='business' value=' ')
                            input(type='hidden' name='item_name' value=gun.name)
                            input(type='hidden' name='amount' value=gun.price)
                            input(type='hidden' name='discount_amount' value='1.00')
                            input(type='hidden' name='currency_code' value='USD')
                            input(type='hidden' name='return' value=' ')
                            input(type='hidden' name='cancel_return' value=' ')
                            input.button(type='submit' name='submit' value='Add to cart')
              
              .clearfix
            //-//tab_one
            // /tab_two
            .tab2
              each gun in listOfPistols
                .col-md-3.product-men
                  .men-pro-item.simpleCart_shelfItem
                    .men-thumb-item
                      img.pro-image-front(src=gun.image alt='')
                      img.pro-image-back(src=gun.image alt='')
                      .men-cart-pro
                        .inner-men-cart-pro
                          a.link-product-add-cart(href=gun.url) Quick View
                      span.product-new-top New
                    .item-info-product
                      h4
                        a(href=gun.url) #{gun.name}
                      .info-product-price
                        span.item_price $#{gun.price.toFixed(2)}
                        del $#{(gun.price + gun.price*10/100).toFixed(2)}
                      .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
                        form(action='#' method='post')
                          fieldset
                            input(type='hidden' name='cmd' value='_cart')
                            input(type='hidden' name='add' value='1')
                            input(type='hidden' name='business' value=' ')
                            input(type='hidden' name='item_name' value=gun.name)
                            input(type='hidden' name='amount' value=gun.price)
                            input(type='hidden' name='discount_amount' value='1.00')
                            input(type='hidden' name='currency_code' value='USD')
                            input(type='hidden' name='return' value=' ')
                            input(type='hidden' name='cancel_return' value=' ')
                            input.button(type='submit' name='submit' value='Add to cart')
              
              .clearfix
            //-//tab_two
    // //new_arrivals
    // /we-offer
    .sale-w3ls
      .container
        h6
          | We Offer Flat 
          span 10%
          |  Discount
        a.hvr-outline-out.button2(href='/') Shop Now 
    // //we-offer
