﻿doctype html
html
  head
    title= title

    // tags
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='KatRich Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    //-//tags

    // for bootstrap working
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')

    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
    //-//for bootstrap working

    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic', rel='stylesheet', type='text/css')

    block stylesheets
    
  body

    // header
    #home.header
      .container
        .col-sm-6.col-md-4
          i.fa.fa-phone(aria-hidden='true')
          |  Call : +84-666-666-666
        .col-sm-6.col-md-4
          i.fa.fa-envelope-o(aria-hidden='true')
          a(href='mailto:lychinhky@gmail.com') nomantrulydies@dead.line

        if (!loggedUser)
          .col-sm-6.col-md-2
            a(href='#', data-toggle='modal', data-target='#myModal')
              i.fa.fa-unlock-alt(aria-hidden='true')
              |  Sign In
          .col-sm-6.col-md-2
            a(href='#', data-toggle='modal', data-target='#myModal2')
              i.fa.fa-pencil-square-o(aria-hidden='true')
              |  Sign Up
        else
          .col-sm-6.col-md-2
            a(href=loggedUser.userDetail)
              i.fa.fa-user-circle-o(aria-hidden='true')
              |  Profile
          .col-sm-6.col-md-2
            a(href='/auth/logout')
              i.fa.fa-sign-out(aria-hidden='true')
              |  Logout
          
    //-//header

    // header-bot
    .header-bot
      .header-bot_inner_wthreeinfo_header_mid
        .col-md-4.header-middle
          form(action='/shop/search', method='get')
            input(type='search', name='search', placeholder='Search here...', required='')
            input(type='submit', value=' ')
            .clearfix
        // header-bot
        .col-md-4.logo_agile
          h1
            a(href='/')
              span K
              | atRich Shoppy 
              i.fa.fa-bug.top_logo_agile_bag(aria-hidden='true')
        // header-bot
        .col-md-4.agileits-social.top_content
          ul.social-nav.model-3d-0.footer-social.w3_agile_social
            li.share Share On : 
            li
              a.facebook(href='#')
                .front
                  i.fa.fa-facebook(aria-hidden='true')
                .back
                  i.fa.fa-facebook(aria-hidden='true')
            li
              a.twitter(href='#')
                .front
                  i.fa.fa-twitter(aria-hidden='true')
                .back
                  i.fa.fa-twitter(aria-hidden='true')
            li
              a.instagram(href='#')
                .front
                  i.fa.fa-instagram(aria-hidden='true')
                .back
                  i.fa.fa-instagram(aria-hidden='true')
            li
              a.pinterest(href='#')
                .front
                  i.fa.fa-linkedin(aria-hidden='true')
                .back
                  i.fa.fa-linkedin(aria-hidden='true')
        .clearfix
    //-//header-bot

    // banner
    .ban-top
      .container
        .top_nav_left
          nav.navbar.navbar-default
            .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse.menu--shylock
                ul.nav.navbar-nav.menu__list
                  li.active.menu__item
                    //.menu__item--current
                    a.menu__link(href='/')
                      | Home 
                      span.sr-only (current)
                  li.menu__item
                    a.menu__link(href='/about') About              
                  li.dropdown.menu__item
                    a.dropdown-toggle.menu__link(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | Rifles
                      span.caret
                    ul.dropdown-menu.multi-column.columns-2
                      .agile_inner_drop_nav_info
                        .col-sm-8.multi-gd-img1.multi-gd-text
                          a(href='/shop/rifles')
                            img(src='/images/top2.jpg', alt=' ')
                        .col-sm-4.multi-gd-img
                          ul.multi-column-dropdown
                            li
                              a(href='/shop/rifles') Guns
                            li
                              a(href='/shop/rifles') Bullets
                            li
                              a(href='/shop/rifles') Boxes
                            li
                              a(href='/shop/rifles') Holsters
                            li
                              a(href='/shop/rifles') Accessories
                        .clearfix
                  li.dropdown.menu__item
                    a.dropdown-toggle.menu__link(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | Pistols
                      span.caret
                    ul.dropdown-menu.multi-column.columns-2
                      .agile_inner_drop_nav_info
                        .col-sm-4.multi-gd-img
                          ul.multi-column-dropdown
                            li
                              a(href='/shop/pistols') Guns
                            li
                              a(href='/shop/pistols') Bullets
                            li
                              a(href='/shop/pistols') Boxes
                            li
                              a(href='/shop/pistols') Holsters
                            li
                              a(href='/shop/pistols') Accessories
                        .col-sm-8.multi-gd-img1.multi-gd-text
                          a(href='/shop/pistols')
                            img(src='/images/top1.jpg', alt=' ')
                        .clearfix
                  li.menu__item
                    a.menu__link(href='/contact') Contact
                  li.menu__item
                    a.menu__link(href='/cart') My cart
        .top_nav_right
          .wthreecartaits.wthreecartaits2.cart.cart.box_1
            form.last(action='#', method='post')  
              input(type='hidden', name='cmd', value='_cart')
              input(type='hidden', name='display', value='1')
              button.w3view-cart(type='submit', name='submit', value='')
                i.fa.fa-cart-arrow-down(aria-hidden='true')
        .clearfix
        
    //-//banner-top

    // Modal1
    #myModal.modal.fade(tabshop='-1', role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
          .modal-body.modal-body-sub_agile
            .col-md-8.modal_body_left.modal_body_left1
              h3.agileinfo_sign
                | Sign In 
                span Now
              form#signinForm(action='')
                .styled-input.agile-styled-input-top
                  input#loginEmail(type='text', name='email', required='')
                  label Email
                  span
                .styled-input
                  input#loginPass(type='password', name='password', required='')
                  label Password
                  span
                input#signinBtn(type='submit', value='Sign In')
                label#error-message-signin(style='color:red;')
              ul.social-nav.model-3d-0.footer-social.w3_agile_social.top_agile_third
                li
                  a.facebook(href='#')
                    .front
                      i.fa.fa-facebook(aria-hidden='true')
                    .back
                      i.fa.fa-facebook(aria-hidden='true')
                li
                  a.twitter(href='#')
                    .front
                      i.fa.fa-twitter(aria-hidden='true')
                    .back
                      i.fa.fa-twitter(aria-hidden='true')
                li
                  a.instagram(href='#')
                    .front
                      i.fa.fa-instagram(aria-hidden='true')
                    .back
                      i.fa.fa-instagram(aria-hidden='true')
                li
                  a.pinterest(href='#')
                    .front
                      i.fa.fa-linkedin(aria-hidden='true')
                    .back
                      i.fa.fa-linkedin(aria-hidden='true')
              .clearfix
              p
                a(href='#', data-toggle='modal', data-target='#myModal2')  Don't have an account?
              p
                a(href='#')  Or forget your password?
            .col-md-4.modal_body_right.modal_body_right1
              img(src='/images/log_pic.jpg', alt=' ')
            .clearfix
        // //Modal content
    //-//Modal1

    // Modal2
    #myModal2.modal.fade(tabshop='-1', role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
          .modal-body.modal-body-sub_agile
            .col-md-8.modal_body_left.modal_body_left1
              h3.agileinfo_sign
                | Sign Up 
                span Now
              form(action='/auth/signup', method='post')
                .styled-input.agile-styled-input-top
                  input(type='text', name='name', required='')
                  label Name
                  span
                .styled-input
                  input#registerEmail(type='email', name='email', required='')
                  label Email
                  span
                .styled-input
                  input#registerPass(type='password', name='password', required='')
                  label Password
                  span
                .styled-input
                  input#registerRepass(type='password', name='confirmPassword', required='')
                  label Confirm Password
                  span
                input#registerBtn(type='submit', value='Sign Up')
                label#error-message(style='color:red;')

              ul.social-nav.model-3d-0.footer-social.w3_agile_social.top_agile_third
                li
                  a.facebook(href='#')
                    .front
                      i.fa.fa-facebook(aria-hidden='true')
                    .back
                      i.fa.fa-facebook(aria-hidden='true')
                li
                  a.twitter(href='#')
                    .front
                      i.fa.fa-twitter(aria-hidden='true')
                    .back
                      i.fa.fa-twitter(aria-hidden='true')
                li
                  a.instagram(href='#')
                    .front
                      i.fa.fa-instagram(aria-hidden='true')
                    .back
                      i.fa.fa-instagram(aria-hidden='true')
                li
                  a.pinterest(href='#')
                    .front
                      i.fa.fa-linkedin(aria-hidden='true')
                    .back
                      i.fa.fa-linkedin(aria-hidden='true')
              .clearfix
              p
                a(href='#') By clicking register, I agree to your terms
            .col-md-4.modal_body_right.modal_body_right1
              img(src='/images/log_pic.jpg', alt=' ')
            .clearfix
        // //Modal content
    //-//Modal2




    block content



    // grids
    .coupons
      .coupons-grids.text-center
        .w3layouts_mail_grid
          .col-md-3.w3layouts_mail_grid_left
            .w3layouts_mail_grid_left1.hvr-radial-out
              i.fa.fa-truck(aria-hidden='true')
            .w3layouts_mail_grid_left2
              h3 FREE SHIPPING
              p Only domestic preferences in Vietnam
          .col-md-3.w3layouts_mail_grid_left
            .w3layouts_mail_grid_left1.hvr-radial-out
              i.fa.fa-headphones(aria-hidden='true')
            .w3layouts_mail_grid_left2
              h3 24/7 SUPPORT
              p The store receives orders both day and night for domestic and foreign customers
          .col-md-3.w3layouts_mail_grid_left
            .w3layouts_mail_grid_left1.hvr-radial-out
              i.fa.fa-shopping-bag(aria-hidden='true')
            .w3layouts_mail_grid_left2
              h3 MONEY BACK GUARANTEE
              p If there are any technical problems with guns, we are willing to refund them
          .col-md-3.w3layouts_mail_grid_left
            .w3layouts_mail_grid_left1.hvr-radial-out
              i.fa.fa-gift(aria-hidden='true')
            .w3layouts_mail_grid_left2
              h3 FREE GIFT COUPONS
              p Always 10% discount for a gun bought at the beginning of the month
          .clearfix  
    //-//grids

    // footer
    .footer
      .footer_agile_inner_info_w3l
        .col-md-3.footer-left
          h2
            a(href='/')
              span K
              | atRich Shoppy
          p
            | This is the most excellent quality gun sales site in the world. If you feel like you have money, come buy our guns.
          ul.social-nav.model-3d-0.footer-social.w3_agile_social.two
            li
              a.facebook(href='#')
                .front
                  i.fa.fa-facebook(aria-hidden='true')
                .back
                  i.fa.fa-facebook(aria-hidden='true')
            li
              a.twitter(href='#')
                .front
                  i.fa.fa-twitter(aria-hidden='true')
                .back
                  i.fa.fa-twitter(aria-hidden='true')
            li
              a.instagram(href='#')
                .front
                  i.fa.fa-instagram(aria-hidden='true')
                .back
                  i.fa.fa-instagram(aria-hidden='true')
            li
              a.pinterest(href='#')
                .front
                  i.fa.fa-linkedin(aria-hidden='true')
                .back
                  i.fa.fa-linkedin(aria-hidden='true')
        .col-md-9.footer-right
          .sign-grds
            .col-md-4.sign-gd
              h4
                | Our 
                span Information
              ul
                li
                  a(href='/') Home
                li
                  a(href='/shop/pistols') Pistols
                li
                  a(href='/shop/rifles') Rifles
                li
                  a(href='/about') About
                li
                  a(href='/contact') Contact
            .col-md-5.sign-gd-two
              h4
                | Store 
                span Information
              .w3-address
                .w3-address-grid
                  .w3-address-left
                    i.fa.fa-phone(aria-hidden='true')
                  .w3-address-right
                    h6 Phone Number
                    p +84 666 666 666
                  .clearfix  
                .w3-address-grid
                  .w3-address-left
                    i.fa.fa-envelope(aria-hidden='true')
                  .w3-address-right
                    h6 Email Address
                    p
                      | Email :
                      a(href='mailto:lychinhky@gmail.com')  nomantrulydies@deadline.com
                  .clearfix  
                .w3-address-grid
                  .w3-address-left
                    i.fa.fa-map-marker(aria-hidden='true')
                  .w3-address-right
                    h6 Location
                    p
                      | University of Science, Nguyen Van Cu, Dt 5, HCMC.
                  .clearfix  
            .col-md-3.sign-gd.flickr-post
              h4
                | Flickr 
                span Posts
              ul
                li
                  a(href='/about')
                    img.img-responsive(src='/images/1612315_Avatar.jpg', alt=' ')
                li
                  a(href='/about')
                    img.img-responsive(src='/images/1612313_Avatar.jpg', alt=' ')
                li
                  a(href='/about')
                    img.img-responsive(src='/images/1612324_Avatar.jpg', alt=' ')
                li
                  a(href='/about')
                    img.img-responsive(src='/images/users/default.png', alt=' ')
            .clearfix
        .clearfix
        .agile_newsletter_footer
          .col-sm-6.newsleft
            h3 SIGN UP FOR NEWSLETTER !
          .col-sm-6.newsright
            form(action='#', method='post')
              input(type='email', placeholder='Enter your email...', name='email', required='')
              input(type='submit', value='Submit')
          .clearfix
        p.copy-right
          | © 2017 KatRich Shoppy. All rights reserved | Design by 
          a(href='http://w3layouts.com/') W3layouts
    //-//footer

    // login
    #myModal4.modal.fade(tabshop='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content.modal-info
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.modal-spa
            .login-grids
              .login
                .login-bottom
                  h3 Sign up for free
                  form
                    .sign-up
                      h4 Email :
                      input(type='text', value='Type here', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Type here';}", required='')
                    .sign-up
                      h4 Password :
                      input(type='password', value='Password', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Password';}", required='')
                    .sign-up
                      h4 Re-type Password :
                      input(type='password', value='Password', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Password';}", required='')
                    .sign-up
                      input(type='submit', value='REGISTER NOW')
                .login-right
                  h3 Sign in with your account
                  form
                    .sign-in
                      h4 Email :
                      input(type='text', value='Type here', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Type here';}", required='')
                    .sign-in
                      h4 Password :
                      input(type='password', value='Password', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Password';}", required='')
                      a(href='#') Forgot password?
                    .single-bottom
                      input#brand(type='checkbox', value='')
                      label(for='brand')
                        span
                        | Remember Me.
                    .sign-in
                      input(type='submit', value='SIGNIN')
                .clearfix
              p
                | By logging in you agree to our 
                a(href='#') Terms and Conditions
                |  and 
                a(href='#') Privacy Policy
    //-//login

    a#toTop.scroll(href='#home', style='display: block;')
      span#toTopHover(style='opacity: 1;')  

    
    //<!----------- End frontend -----------> 
    

    // js
    script(type='text/javascript', src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/modernizr.custom.js')

    script(src='/javascripts/minicart.min.js')
    script.
      // Mini Cart
      paypal.minicart.render({ action: '#' });
      if (~window.location.search.shopOf('reset=true')) {
        paypal.minicart.reset();
      }

    block scripts

    // start-smoth-scrolling
    script(type='text/javascript', src='/javascripts/move-top.js')
    script(type='text/javascript', src='/javascripts/jquery.easing.min.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });

    // start-smoth-scrolling
    script(src='/javascripts/jquery.waypoints.min.js')
    script(src='/javascripts/jquery.countup.js')
    script.
      $('.counter').countUp();

    // here stars scrolling icon
    script(type='text/javascript').
      $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
      });
    script.
      function editText() {
      document.getElementById("gender").contentEditable = "true";
      }

    script.
      $('#registerEmail').keyup(function() {
        $.getJSON('/auth/checkExisting?email='+$('#registerEmail').val(), function (data){
          if (data) {
            $('#error-message').html('This Email has been taken. Would you like to sign in?');
            $('#registerBtn').attr('disabled', true);
            $('#registerBtn').css('text-decoration', 'line-through');
          }
          else {
            $('#error-message').html('');
            $('#registerBtn').attr('disabled', false);
            $('#registerBtn').css('text-decoration', 'none');
          }
        })
      });

    script.
      $('#registerRepass').keyup(function() {
        if ( $('#registerRepass').val() !== $('#registerPass').val() ) {
          $('#error-message').html('Confirm Password does not match!');
          $('#registerBtn').attr('disabled', true);
          $('#registerBtn').css('text-decoration', 'line-through');
        }
        else {
          $('#error-message').html('');
          $('#registerBtn').attr('disabled', false);
          $('#registerBtn').css('text-decoration', 'none');
        }
      });

    script.
        $('#signinForm').submit(function(e){       
          $.getJSON('/auth/login?email='+$('#loginEmail').val()+'&password='+$('#loginPass').val(), function(data) {
            if (data) { location.href = location; }
            else { $('#error-message-signin').html('Wrong Email or Password! Retry or Sign Up.'); }
          })
          return false;
        });
