﻿extends layout

append stylesheets
    link(href='/stylesheets/jquery-ui.css', rel='stylesheet', type='text/css')

append scripts
    script(src='/javascripts/responsiveslides.min.js')
    script.
      // You can also use "$(window).load(function() {"
      $(function () {
        // Slideshow 4
        $("#slider3").responsiveSlides({
          auto: true,
          pager: true,
          nav: false,
          speed: 500,
          namespace: "callbacks",
          before: function () {
            $('.events').append("<li>before event fired.</li>");
          },
          after: function () {
            $('.events').append("<li>after event fired.</li>");
          }
        });
      });

    script(src='/javascripts/jquery-ui.js')
    script.
      $(window).load(function(){
        $( "#slider-range" ).slider({
          range: true,
          min: 0,
          max: 9000,
          values: [ 1000, 7000 ],
          slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
          }
        });
        $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );
      });
    

block content
    // /banner_bottom_agile_info
    .page-head_agile_info_w3l
      .container
        h3
          | Pistols 
          span Collection
        // /w3_short
        .services-breadcrumb
          .agile_inner_breadcrumb
            ul.w3_short
              li
                a(href='/') Home
                i |
              li Pistols
        // //w3_short
    // banner-bootom-w3-agileits
    .banner-bootom-w3-agileits
      .container
        // pistols
        .col-md-4.products-left
          .filter-price
            h3
              | Filter By 
              span Price
            ul.dropdown-menu6
              li
                #slider-range
                input#amount(type='text' style='border: 0; color: #ffffff; font-weight: normal;')
          .css-treeview
            h4 Categories
            ul.tree-list-pad
              li
                input#item-0(type='checkbox' checked='checked')
                label(for='item-0')
                  i.fa.fa-long-arrow-right(aria-hidden='true')
                  |  Pistols
                ul
                  li
                    input#item-0-0(type='checkbox')
                    label(for='item-0-0')
                      i.fa.fa-long-arrow-right(aria-hidden='true')
                      | Utilities
                    ul
                      li
                        a(href='/shop/pistols') Ammo Cans & Boxes
                      li
                        a(href='/shop/pistols') Gun Cases
                      li
                        a(href='/shop/pistols') Gun Locks
                      li
                        a(href='/shop/pistols') Gun Racks
                      li
                        a(href='/shop/pistols') Gun Safes
                      li
                        a(href='/shop/pistols') Holsers
                  li
                    input#item-0-1(type='checkbox')
                    label(for='item-0-1')
                      i.fa.fa-long-arrow-right(aria-hidden='true')
                      |  Accessories
                    ul
                      li
                        a(href='/shop/pistols') Lasers
                      li
                        a(href='/shop/pistols') Scopes & Optics
                      li
                        a(href='/shop/pistols') Speedloaders
                      li
                        a(href='/shop/pistols') Suppressor Parts
              li
                input#item-1(type='checkbox')
                label(for='item-1')
                  i.fa.fa-long-arrow-right(aria-hidden='true')
                  |  Ammunition
                ul
                  li
                    a(href='/shop/pistols') Gun Ammo
                  li
                    a(href='/shop/pistols') Blanks
                  li
                    a(href='/shop/pistols') Dummies & Snap Caps
          .clearfix
        .col-md-8.products-right
          h5
            | Product 
            span Compare(0)
          .sort-grid
            .sorting
              h6 Sort By
              select#country1.frm-field.required.sect(onchange='change_country(this.value)')
                option(value='null') Default
                option(value='null') Name (A - Z)
                option(value='null') Name (Z - A)
                option(value='null') Price (High - Low)
                option(value='null') Price (Low - High)
              .clearfix
            .sorting
              h6 Showing
              select#country2.frm-field.required.sect(onchange='change_country(this.value)')
                option(value='null') 8
                option(value='null') 12
                option(value='null') 16
                option(value='null') 20
              .clearfix
            .clearfix
          .men-wear-top
            #top.callbacks_container
              ul#slider3.rslides
                li
                  img.img-responsive(src='/images/banner4.jpg' alt=' ')
                li
                  img.img-responsive(src='/images/banner3.jpg' alt=' ')
                li
                  img.img-responsive(src='/images/banner1.jpg' alt=' ')
            .clearfix
          .men-wear-bottom
            .col-sm-4.men-wear-left
              img.img-responsive(src='/images/bb1.jpg' alt=' ')
            .col-sm-8.men-wear-right
              h4
                | Exclusive Pistols 
                span Collections
              p
                | All products are guaranteed to be original and have insurance for one year.
              p
                | All guns are strictly inspected before being imported, so there are no product errors.
              p
                | We are constantly updating new and unique weapons.
            .clearfix
        .clearfix
        .single-pro
          each gun in listOfGuns
            .col-md-3.product-men
              .men-pro-item.simpleCart_shelfItem
                .men-thumb-item
                  img.pro-image-front(src=gun.image alt='')
                  img.pro-image-back(src=gun.image alt='')
                  .men-cart-pro
                    .inner-men-cart-pro
                      a.link-product-add-cart(href=gun.url) Quick View
                  span.product-new-top New
                .item-info-product
                  h4
                    a(href=gun.url) #{gun.name}
                  .info-product-price
                    span.item_price $#{gun.price.toFixed(2)}
                    del $#{(gun.price + gun.price*10/100).toFixed(2)}
                  .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
                    form(action='#' method='post')
                      fieldset
                        input(type='hidden' name='cmd' value='_cart')
                        input(type='hidden' name='add' value='1')
                        input(type='hidden' name='business' value=' ')
                        input(type='hidden' name='item_name' value=gun.name)
                        input(type='hidden' name='amount' value=gun.price)
                        input(type='hidden' name='discount_amount' value='1.00')
                        input(type='hidden' name='currency_code' value='USD')
                        input(type='hidden' name='return' value=' ')
                        input(type='hidden' name='cancel_return' value=' ')
                        input.button(type='submit' name='submit' value='Add to cart')
        .clearfix

        ul#page-product.pagination.pagination-lg(style='display:flex;justify-content:center;align-items:center;')
          each i in pages 
            if (i == activePage)
              li.active
                a #{i}
            else
              li
                a(href='/shop/pistols/' + i) #{i}

    // //shop/pistols

    