extends layout

append stylesheets
    style.
      .schedule-bottom {
        margin: 50px 0;
      }
      h3 {
        margin-bottom: 20px;
      }
    link(href='/stylesheets/cart.css', rel='stylesheet', type='text/css')
append scripts
    script(src='/javascripts/main.js')


  

block content
    // /proflie_page
    // /banner_bottom_agile_info
    .page-head_agile_info_w3l
      .container
        h3
          | Profile 
          span Page 
        // /w3_short
        .services-breadcrumb
          .agile_inner_breadcrumb
            ul.w3_short
              li
                a(href='/') Home
                i |
              li Profile Page

    #infoChange.schedule-bottom(style='display:block')
      form#nameform(action='/auth/update' method='post' enctype='multipart/form-data')
        .col-sm-4.agileinfo_schedule_bottom_left
          img#reviewImg.img-responsive(src=user.image alt=' ')
          .row
            .col-md-12(style='display:flex;justify-content:center;align-items:center;')
              input#imgBrowse(type='file', name='image', accept='image/*', style='visibility:hidden; width:80%; margin-top:5px;')
          .wthreecartaits.wthreecartaits2.cart.cart.box_1
            if (user._id === loggedUser._id)
              button#editBtn.w3view-cart(type='button' onclick='editText();')
                i.fa.fa-pencil-square-o(aria-hidden='true')
          .row
            .col-md-6.col-sm-6.newsright(style='display:flex;justify-content:center;align-items:center;')
              input#acceptBtn(type='submit', value='Accept' style='visibility:hidden;')
            .col-md-6.col-sm-6.newsright(style='display:flex;justify-content:center;align-items:center;')
              input#cancelBtn(type='button', value='Cancel' style='visibility:hidden;')
          
          .row(style='margin-top:10px;')
            .col-md-12.newsright(style='display:flex;justify-content:center;align-items:center;')
              input#collapsibleBtn(type='button', value='Change Password')
          .row
            .col-md-6.col-sm-6.newsright(style='display:flex;justify-content:center;align-items:center;')
              input#acceptChangeBtn(type='submit', value='Accept' style='visibility:hidden;')
            .col-md-6.col-sm-6.newsright(style='display:flex;justify-content:center;align-items:center;')
              input#cancelChangeBtn(type='button', value='Cancel' style='visibility:hidden;')
        .col-sm-8.agileits_schedule_bottom_right
          .w3ls_schedule_bottom_right_grid
            h3#nameDisplay(style='margin-bottom:-35px;')
              | #{user.name}
            .row
              .ps-checkout__billing
                #nameInput.form-group.form-group--inline(style='visibility:hidden;')
                  label
                    | NAME
                  input#name.form-control(type='text' name='name' value=user.name, readonly='')
                .form-group.form-group--inline
                  label
                    | EMAIL
                  input#email.form-control(type='text' name='email' value=user.email, readonly='')
                .form-group.form-group--inline
                  label
                    | GENDER
                  select#gender.form-control(name='gender' disabled)
                    if (user.gender === 'Female')
                      option(value=Male) Male
                      option(value=Female selected) Female
                    else
                      option(value=Male selected) Male
                      option(value=Female) Female
                .form-group.form-group--inline
                  label
                    | PHONE
                  input#phone.form-control(type='number' name='phone' value=user.phone, readonly='')
                .form-group.form-group--inline
                  label
                    | ADDRESS
                  input#address.form-control(type='text' name='address' value=user.address, readonly='')
                .form-group.form-group--inline
                  label
                    | NOTE
                  input#note.form-control(type='text' name='note' value=user.note, readonly='')

              .col-md-6.w3l_schedule_bottom_right_grid1
                i.fa.fa-shopping-basket(aria-hidden='true')
                h4 Orders
                h5.counter 315
              .col-md-6.w3l_schedule_bottom_right_grid1
                i.fa.fa-gift(aria-hidden='true')
                h4 Points
                h5.counter 1612
              .clearfix
        .clearfix
    #passwordChange.schedule-bottom(style='display:none')
      form#passform(action='#' method='post')
        .col-sm-4.agileinfo_schedule_bottom_left
          img#reviewImg.img-responsive(src=user.image alt=' ')
          .row(style='padding:10px 0px;margin-top:5px;')
            .col-md-6.col-sm-6.newsright(style='display:flex;justify-content:center;align-items:center;')
              input#accept-change-btn(type='submit', value='Accept')
            .col-md-6.col-sm-6.newsright(style='display:flex;justify-content:center;align-items:center;')
              input#cancel-change-btn(type='button', value='Cancel' onclick='cancelChange()')
        .col-sm-8.agileits_schedule_bottom_right
          .w3ls_schedule_bottom_right_grid
            .row
              .ps-checkout__billing
                .form-group.form-group--inline
                  label
                    | OLD PASSWORD
                  input#oldpass-change.form-control(type='password' name='oldpass' required='')
                .form-group.form-group--inline
                  label
                    | NEW PASSWORD
                  input#newpass-change.form-control(type='password' name='newpass' required='')
                .form-group.form-group--inline
                  label
                    | CONFIRM PASSWORD
                  input#repass-change.form-control(type='password' name='renewpass' required='')
                label#error-change(style='color:red;')
        .clearfix  