﻿extends layout

append stylesheets
    link(href='/stylesheets/easy-responsive-tabs.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/flexslider.css', rel='stylesheet', type='text/css')

append scripts
    script(src='/javascripts/imagezoom.js')

    // <!-- Responsive tabs -->
    script(src='/javascripts/easy-responsive-tabs.js')
    script.
      $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
          type: 'default',          
          width: 'auto',
          fit: true,
          closed: 'accordion',
          activate: function(event) {
            var $tab = $(this);
            var $info = $('#tabInfo');
            var $name = $('span', $info);
            $name.text($tab.text());
            $info.show();
          }
        });
        $('#verticalTab').easyResponsiveTabs({
          type: 'vertical',
          width: 'auto',
          fit: true
        });
      });

    // <!-- FlexSlider -->
    script(src='/javascripts/jquery.flexslider.js')
    script.
      // Can also be used with $(document).ready()
      $(window).load(function() {
        $('.flexslider').flexslider({
          animation: "slide",
          controlNav: "thumbnails"
        });
      });

block content
    // /single_page
    // /banner_bottom_agile_info
    .page-head_agile_info_w3l
      .container
        h3
          | Item 
          span Page 
        // /w3_short
        .services-breadcrumb
          .agile_inner_breadcrumb
            ul.w3_short
              li
                a(href='/') Home
                i |
              li Item Page
        // //w3_short
    // banner-bootom-w3-agileits
    .banner-bootom-w3-agileits
      .container
        .col-md-4.single-right-left
          .grid.images_3_of_2
            .flexslider
              ul.slides
                li(data-thumb=gun.image)
                  .thumb-image
                    img.img-responsive(src=gun.image data-imagezoom='true')
                li(data-thumb=gun.image)
                  .thumb-image
                    img.img-responsive(src=gun.image data-imagezoom='true')
                li(data-thumb=gun.image)
                  .thumb-image
                    img.img-responsive(src=gun.image data-imagezoom='true')
              .clearfix
        .col-md-8.single-right-left.simpleCart_shelfItem
          h3 #{gun.name}
          p
            span.item_price $#{gun.price.toFixed(2)}
            del - $#{(gun.price + gun.price*10/100).toFixed(2)}
          .rating1
            span.starRating
              input#rating5(type='radio' name='rating' value='5')
              label(for='rating5') 5
              input#rating4(type='radio' name='rating' value='4')
              label(for='rating4') 4
              input#rating3(type='radio' name='rating' value='3' checked='')
              label(for='rating3') 3
              input#rating2(type='radio' name='rating' value='2')
              label(for='rating2') 2
              input#rating1(type='radio' name='rating' value='1')
              label(for='rating1') 1
          .description
            h5 Check delivery, payment options and charges at your location
            form(action='#' method='post')
              input(type='text' value='Enter pincode' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter pincode';}" required='')
              input(type='submit' value='Check')
          .color-quality
            .color-quality-right
              h5 Quality :
              select#country1.frm-field.required.sect(onchange='change_country(this.value)')
                option(value='null') 5 Qty
                option(value='null') 6 Qty
                option(value='null') 7 Qty
                option(value='null') 10 Qty
          .occasional
            h5 Types :
            .colr.ert
              label.radio
                input(type='radio' name='radio' checked='')
                i
                | Real
            .colr
              label.radio
                input(type='radio' name='radio')
                i
                | Fake
            .colr
              label.radio
                input(type='radio' name='radio')
                i
                | Toy
            .clearfix  
          .occasion-cart
            .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
              form(action='#' method='post')
                fieldset
                  input(type='hidden' name='cmd' value='_cart')
                  input(type='hidden' name='add' value='1')
                  input(type='hidden' name='business' value=' ')
                  input(type='hidden' name='item_name' value=gun.name)
                  input(type='hidden' name='amount' value=gun.price)
                  input(type='hidden' name='discount_amount' value='1.00')
                  input(type='hidden' name='currency_code' value='USD')
                  input(type='hidden' name='return' value=' ')
                  input(type='hidden' name='cancel_return' value=' ')
                  input.button(type='submit' name='submit' value='Add to cart')
          ul.social-nav.model-3d-0.footer-social.w3_agile_social.single_page_w3ls
            li.share Share On : 
            li
              a.facebook(href='#')
                .front
                  i.fa.fa-facebook(aria-hidden='true')
                .back
                  i.fa.fa-facebook(aria-hidden='true')
            li
              a.twitter(href='#')
                .front
                  i.fa.fa-twitter(aria-hidden='true')
                .back
                  i.fa.fa-twitter(aria-hidden='true')
            li
              a.instagram(href='#')
                .front
                  i.fa.fa-instagram(aria-hidden='true')
                .back
                  i.fa.fa-instagram(aria-hidden='true')
            li
              a.pinterest(href='#')
                .front
                  i.fa.fa-linkedin(aria-hidden='true')
                .back
                  i.fa.fa-linkedin(aria-hidden='true')
        .clearfix  
        // /new_arrivals
        .responsive_tabs_agileits
          #horizontalTab
            ul.resp-tabs-list
              li Description
              li Reviews
              li Information
            .resp-tabs-container
              // /tab_one
              .tab1
                .single_page_agile_its_w3ls
                  h6 #{gun.name}
                  p #{gun.description}
                  p.w3ls_para
                    | This stuff can kill any living creature if the user know how to use.
              // //tab_one
              .tab2
                .single_page_agile_its_w3ls
                  .bootstrap-tab-text-grids
                    .bootstrap-tab-text-grid
                      .bootstrap-tab-text-grid-left
                        img.img-responsive(src='/images/1612315_Avatar.jpg' alt=' ')
                      .bootstrap-tab-text-grid-right
                        ul
                          li
                            a(href='#') Admin
                          li
                            a(href='#')
                              i.fa.fa-reply-all(aria-hidden='true')
                              |  Reply
                        p
                          | This is a dangerous item, but a fool with a tool is still a fool.
                      .clearfix  
                    .add-review
                      h4 add a review
                      form(action='#' method='post')
                        input(type='text' name='Name' required='Name')
                        input(type='email' name='Email' required='Email')
                        textarea(name='Message' required='')
                        input(type='submit' value='SEND')
              .tab3
                .single_page_agile_its_w3ls
                  h6 Ammunition
                  p
                    | The weapon uses the same ammunition as the AK-47: the 7.62×39mm M43 intermediate rifle cartridge.
                    | The AKM mechanism's design principles and procedures for loading and firing are practically identical to those of the AK-47,
                    | the only difference being the trigger assembly (during the return stage of the bolt carrier on fully automatic mode) as a result of incorporating the rate reducer device.
                  p.w3ls_para
                    | Don't forget to buy.
        // //new_arrivals
        // /slider_owl
        .w3_agile_latest_arrivals
          h3.wthree_text_info
            | Featured 
            span Arrivals
          each gun in listOfGuns
            .col-md-3.product-men.single
              .men-pro-item.simpleCart_shelfItem
                .men-thumb-item
                  img.pro-image-front(src=gun.image alt='')
                  img.pro-image-back(src=gun.image alt='')
                  .men-cart-pro
                    .inner-men-cart-pro
                      a.link-product-add-cart(href=gun.url) Quick View
                  span.product-new-top New
                .item-info-product
                  h4
                    a(href=gun.url) #{gun.name}
                  .info-product-price
                    span.item_price $#{gun.price.toFixed(2)}
                    del $#{(gun.price + gun.price*10/100).toFixed(2)}
                  .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
                    form(action='#' method='post')
                      fieldset
                        input(type='hidden' name='cmd' value='_cart')
                        input(type='hidden' name='add' value='1')
                        input(type='hidden' name='business' value=' ')
                        input(type='hidden' name='item_name' value=gun.name)
                        input(type='hidden' name='amount' value=gun.price)
                        input(type='hidden' name='discount_amount' value='1.00')
                        input(type='hidden' name='currency_code' value='USD')
                        input(type='hidden' name='return' value=' ')
                        input(type='hidden' name='cancel_return' value=' ')
                        input.button(type='submit' name='submit' value='Add to cart')
          .clearfix  
          // //slider_owl
    // //single_page
